{{!-- markup for the table of contents and sidebar nav
Parameters:
    layout: [ sidebar-layout , footer-layout]
--}}    

<aside class="table-of-contents {{layout}}">
    <button id="toc-toggle" data-progress="0" aria-label="table-of-contents-mode" class="icon">
        <span class="toc-open-icon ">{{> "icons/toc-open"}}</span>
        <span class="toc-close-icon">{{> "icons/toc-close"}}</span>
    </button>
    <div class="toc-container">
        <h1 class="toc-title">On this page</h1>
        {{!-- The table of content list will be inserted here --}}
        <div class="toc"></div>
    </div>
</aside> 

{{!-- share buttons and secondary nav items inserted here --}}
<aside class="sidebar {{layout}}">
    {{> "navigation" nav-type="sidebar-social-secondary"}}
</aside>
