{{!-- outputs menu items defined in the Ghost admin panel (Settings > Design > Navigation) 
  the html defined in this custom template is expected by dropdown-menu.js --}}
<menu class="menu">   
  <span class="menu-header">
    <p class="menu-title">Contents</p>
    <p class="menu-close">✕</p>
  </span>
  {{#foreach navigation}}
      <li class="item">
        <a href="{{url absolute="true"}}">{{label}}</a>
      </li>
  {{/foreach}}
</menu>
