 <footer class="site-footer">
    <div class="copyright">
        {{@site.title}} © {{date format="YYYY"}}
    </div>
    <div class="privacy-policy">
        {{#link href="/privacy-policy/"}}privacy policy{{/link}}
    </div>
</footer>
