 <footer class="site-footer">
    <div class="copyright">
        {{@site.title}} © {{date format="YYYY"}}
    </div>
    {{#if @custom.show_footer_links}}
      <div class="footer-links">
        <a class= "ghost-link" href='https://ghost.org'>Powered by Ghost </a> 
        <a class= "theme-link" href='https://github.com/nickabs/transmission'> ~ transmission theme</a>
      </div>
    {{/if}}
    <div class="privacy-policy">
        {{#link href="/privacy-policy/"}}privacy policy{{/link}}
    </div>
</footer>
