{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#author}}
    {{> "hero-header" }}
{{/author}}

{{^match @custom.sidebar "None"}}
    {{> "asides" aside-type="sidebar"}}
{{/match}}

<section class="author-articles article-collection paginated">
    {{#foreach posts}}
        {{> "article-card"}}
    {{/foreach}}
</section>
{{pagination}}
