{{!< default}}

{{> "hero-header"}}

<article class="main-article">
    {{#foreach posts limit="1"}}
        {{> "article-card" imageSizes="(max-width: 767px) calc(100vw - max(8vmin, 40px)), 640px"}}
    {{/foreach}}
</article>
<aside class="recent-articles  ">
    <h1 class="recent-articles-title" >RECENT</h1>
    {{#foreach posts from="2" limit="3"}}
        {{> "article-card" imageSizes="(max-width: 767px) calc(100vw - max(8vmin, 40px)), 640px"}}
    {{/foreach}}
</aside>
<aside class="featured-articles  ">
    {{#if @custom.show_featured_posts}}
        <h1 class="featured-articles-title" >FEATURED</h1>
        {{#get "posts" filter="featured:true" include="authors,tags" limit=6 as |featured|}}
            {{#foreach featured}}
                {{> "article-card" imageSizes="(max-width: 767px) calc(100vw - max(8vmin, 40px)), 640px"}}
            {{/foreach}}
        {{/get}}
    {{else}}
        <h1 class="featured-articles-title" >MORE</h1>
        {{#foreach posts from="4" limit="6"}}
            {{> "article-card" imageSizes="(max-width: 767px) calc(100vw - max(8vmin, 40px)), 640px"}}
        {{/foreach}}
    {{/if}}
</aside>
<aside class="previous-articles   paginated">
    <h1 class="previous-articles-title" >MORE</h1>
    {{#if @custom.show_featured_posts}}
        {{#foreach posts from="5"}}
            {{> "article-card"}}
        {{/foreach}}
    {{else}}
        {{#get "posts" include="tags" }}
            {{#foreach posts from="11" }}
                {{> "article-card"}}
            {{/foreach}}
        {{/get}}
    {{/if}}
</aside>
{{#if @site.members_enabled}}
    {{#unless @member}}
        {{#match @custom.subscription_banner "Home Page"}}
            {{> "subscription-banner"}}
        {{else match @custom.subscription_banner "Home Page & Posts" }}
            {{> "subscription-banner"}}
        {{/match}}
    {{/unless}}
{{/if}}
{{pagination}}

