{{!< default}}

{{> "hero-header"}}

<article class="main-article">
    {{#foreach posts limit="1"}}
        {{> "article-card" image_size="m" }}
    {{/foreach}}
</article>
<aside class="recent-articles  ">
    <h1 class="recent-articles-title" >RECENT</h1>
    {{#foreach posts from="2" limit="3"}}
        {{> "article-card" image_size="s" }}
    {{/foreach}}
</aside>
<aside class="featured-articles  ">
    {{#if @custom.show_featured_posts}}
        <h1 class="featured-articles-title" >FEATURED</h1>
        {{#get "posts" filter="featured:true" include="authors,tags" limit=6 as |featured|}}
            {{#foreach featured}}
                {{> "article-card" image_size="xs" }}
            {{/foreach}}
        {{/get}}
    {{else}}
        <h1 class="featured-articles-title" >MORE</h1>
        {{#foreach posts from="4" limit="6"}}
            {{> "article-card" image_size="xs" }}
        {{/foreach}}
    {{/if}}
</aside>
<aside class="previous-articles   paginated">
    <h1 class="previous-articles-title" >MORE</h1>
    {{#if @custom.show_featured_posts}}
        {{#foreach posts from="5"}}
            {{> "article-card" image_size="s" }}
        {{/foreach}}
    {{else}}
        {{#get "posts" include="tags" }}
            {{#foreach posts from="11" }}
                {{> "article-card" image_size="s"}}
            {{/foreach}}
        {{/get}}
    {{/if}}
</aside>
{{#if @site.members_enabled}}
    {{#unless @member}}
        {{#match @custom.home_page_subscription_banner_type "Mini" }}
            {{> "subscription-banner" mini="true" location="home" }}
        {{/match}}
        {{#match @custom.home_page_subscription_banner_type "Full" }}
            {{> "subscription-banner" location="home" }}
        {{/match}}
    {{/unless}}
{{/if}}
{{pagination}}

