{{!< default}}
{{#page}}

    {{#if @page.show_title_and_feature_image}}
        {{> "hero-header"}}
    {{/if}}

    {{^match @custom.post_table_of_contents "None"}}
        {{> "asides" aside-type="toc"}}
    {{/match}}

    {{^match @custom.post_sidebar "None"}}
        {{> "asides" aside-type="sidebar"}}
    {{/match}}
    
    {{!-- outputting post or page content --}}
    <main class="article">
        {{content}}
    </main>

{{/page}}
