{{!< default}}
{{#page}}

    {{#if @page.show_title_and_feature_image}}
        {{> "hero-header"}}
    {{/if}}

    {{!-- toc and social icons --}}
    {{#match @custom.post_layout_type "Sidebars / no feature image"}} 
        {{> "asides" layout="sidebar-layout"}}
    {{else match @custom.post_layout_type "Sidebars / feature image"}}
        {{> "asides" layout="sidebar-layout"}}
    {{else}}
        {{> "asides" layout="footer-layout"}}
    {{/match}}
    
    {{!-- outputting post or page content --}}
    <main class="article">
        {{content}}
    </main>

{{/page}}
