{{!< default}}
{{#page}}

    {{#if @page.show_title_and_feature_image}}
        {{> "hero-header"}}
    {{/if}}

    {{!-- toc and social icons --}}
    {{> "asides" aside-layout="toc" }}
    
    {{^match @custom.post_sidebar "None"}}
        {{> "asides" aside-type="sidebar"}}
    {{/match}}
    {{!-- outputting post or page content --}}
    <main class="article">
        {{content}}
    </main>

{{/page}}
