{{!< default}}

{{#post}}
    {{!-- toc and social icons --}}
    {{> "asides"}}

    {{#if @page.show_title_and_feature_image}}
        {{> "hero-header"}}
    {{/if}}

    {{!-- outputting post or page content --}}
    <article class="article-content">
        {{content}}
    </article>
{{/post}}

{{#if @site.members_enabled}}
    {{#unless @member}}
        {{#match @custom.subscription_banner "Posts"}}
            {{> "subscription-banner"}}
        {{else match @custom.subscription_banner "Home Page & Posts" }}
            {{> "subscription-banner"}}
        {{/match}}
    {{/unless}}
{{/if}}

{{#if @custom.show_related_posts}}
    {{#get "posts" limit=@config.posts_per_page filter="tags:[{{post.tags}}]+id:-{{post.id}}" as |related|}}
    {{#if related}}
        <aside class="related-articles article-card-list">
            <h3 class="related-articles-title">READ MORE</h3>
            {{#foreach posts}}
                {{> "article-card"}}
            {{/foreach}}
        </aside>
    {{/if}}
    {{/get}}
{{/if}}
