/* -------------------------------------------------------- */
/* article-card content is shown in the grids defined below */
/* cards are shown in row or column layouts                 */
/* -------------------------------------------------------- */


.article-card .article-card-title {
    color: var(--heading-color); 
    font-weight: 600;
    margin: 10px 0 10px;
}
.article-card .article-card-title:after {
    display: grid;
    content: '';
    padding-top: 3px;
    width: 1em;
    border-bottom: 4px solid var(--link-color)
}

.article-card-image {
    grid-area: Image;
    align-self: center;
}
.article-card-text {
    grid-area: Text;
    align-self: end; 
}
.article-card-metadata {
    grid-area: Metadata;
}
.article-card-author { 
    grid-area: Author;  
}

/* default view is a simple column */
.article-card {
    display:grid;
    grid-template-areas:
        "Image"
        "Text"
        "Metadata"
        "Author";
}

.article-card-image img { 
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
}

/* in mobile view featured articles are shown as a row with image on the right and text/metadata on left */
.featured-articles .article-card {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "Text Image"
        "Metadata Image"
        "Author Image";
}

.related-articles .article-card {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "Image Text"
        "Image Metadata"
        "Image Author";
}

/* laptops */
@media (min-width:760px) {
    .previous-articles .article-card,
    .recent-articles .article-card {
        display:grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "Image Text"
            "Image Metadata"
            "Image Author";
    }
}
/* large screens */
@media (min-width:1100px) {
    .recent-articles .article-card {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 0.3fr 0.3fr;
        grid-template-areas:
            "Image"
            "Text"
            "Metadata"
            "Author";
    }
}

.recent-articles-title,
.previous-articles-title {
    margin-top: 50px;
}
.site {
    .related-articles-title,
    .recent-articles-title,
    .featured-articles-title,
    .previous-articles-title {
        border-bottom: 1px solid var(--border-color);
        font-size: 1.6rem;
        font-weight: 550;
        letter-spacing: .025em;
    }
}
.main-article .article-card h1 {
    font-size: 2rem;
}
.main-article .article-card h1 ,
.previous-articles .article-card h1 ,
.recent-articles .article-card h1 {
    line-height: 1.3;
    font-size: 1.8rem;
}

.related-articles .article-card h1,
.featured-articles .article-card h1 {
    line-height: 1.3;
    font-size: 1.5rem;
}

/* only show excerpts on the main card */
.article-card-excerpt {
    display:none;
}
.main-article .article-card-excerpt.short {
    display:block;
}
.article-card-tag  {
    background-color: var(--background-color);
    color: var(--title-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: .05rem;
    outline: none;
    padding: 1.5px 3px;
    margin-left: 6px;
    text-transform: uppercase;
}

.article-card-author,
.article-card-date {
    font-size: 1.3rem;
}

.related-articles {
    .article-card-text, .article-card-author, .article-card-metadata {
        padding-left: 20px;
    }
}
@media (min-width: 760px) {
    .main-article img {
        aspect-ratio: 4/3;
    }
    .main-article .article-card h1 {
        font-size: 3rem;
        padding: 20px 0;
    }
    .previous-articles,
    .recent-articles {
        .article-card-text, .article-card-author, .article-card-metadata {
            padding-left: 20px;
        }
    }
    .featured-articles {
        border-left: 1px solid var(--border-color);
    }
}
@media (min-width: 1100px) {
    .main-article img {
        height: 400px;
        margin-top: 55px;
    }
    .recent-articles {
        margin-top: var(--top-margin);
        border-right: 1px solid var(--border-color);
        .article-card-image {
            padding: 10px 0 ;
        }
        img {
            height: 150px;
        }
    }
    .main-article .article-card-title {
        font-size: 3rem;
    }
    .main-article .article-card-excerpt.short {
        display:none;
    }
    .main-article .article-card-excerpt.long {
        display:block;
    }
    .recent-articles .recent-articles-title {
        margin-top:0;
    }
}
    
