/* ------------------------------- */
/* styling for all article content */
/* ------------------------------- */

/* default article view is a single column with all user content inside a variable margin */

.article-content {
    padding-left:var(--edge-padding);
    padding-right:var(--edge-padding);
    max-width: var(--max-content-width);
    justify-self: center;
}

/* display wide/full width images on larger screens where sidebars are not used 

 the article-content grid is as follows:
     |<--- full --->|<--- wide --->|<--- main --->|<--- wide --->|<--- full --->|
[full-start]     [wide-start]   [main-start]     [main-end]     [wide-end]      [full-end]
*/
 @media (min-width:760px) {
  .site:not(:has(.sidebar-layout)) {
    .article-content {
      --main: var(--max-content-width);
      --wide: minmax(0, calc((var(--max-container-width) - var(--max-content-width)) / 2));
      --full: minmax(var(--section-gap), 1fr);
      display: grid;

      grid-template-columns:
          [full-start] var(--full)
          [wide-start] var(--wide)
          [main-start] var(--main) [main-end] 
          var(--wide) [wide-end] 
          var(--full) [full-end];
      > * {
        grid-column: main;
      }
      .kg-width-wide {
        grid-column: wide;
      }
      .kg-width-full {
        grid-column: full;
      }
    }
  }
}
.article-content img {
    &:not:has(.icon),
    &:not:has(.kg-bookmark-icon) {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
      }
}
.article-content > :first-child{
  padding-top:15px;
}
@media screen and (min-width: 760px) {
  .article-content :first-child{
    padding-top:0px;
  }
}
.article-content > * + * {
  margin-top:var(--section-gap);
  font-size: var(--content-font-size);
}

/* margin for headings*/
.article-content > [id]:not(:first-child) {
  margin-top: 26px;
}
.site {
  h1 { font-size: var(--h1-font-size); }
  h2 { font-size: var(--h2-font-size); }
  h3 { font-size: var(--h3-font-size); }
  sup { font-size: var(--content-sup-font-size); }
  .article-content h1, .article-content.h2, .article-content.h3 {
      margin-block:0 0;
  }
}

/* A margin before/after HRs and blockquotes */
.article-content hr,
.article-content ul,
.article-content blockquote {
    margin-top: 2rem; 
}
.article-content blockquote {
    font-style: italic;
    padding: 0 2rem;
    border-left: 0.1rem solid var(--theme-accent-color);
}

/* figure captions */
figcaption {
    font-size: var(--content-fig-font-size);
    line-height: 1.5;
    color: var(--secondary-text-color);
    margin-top: 1.0rem;
    text-align: center;
}

/* hide feature card figcaptions in article cards */
.article-card figcaption {
  display: none;
}
.article-content li + li {
    margin-top: 0.8rem;
}
.article-content a span,
.article-content a {
  color: var(--link-color);
  opacity: 1;
}
.article-content a:hover {
    text-decoration: underline;
    text-decoration-color: var(--link-color);
    opacity: 0.8;
}

/*----------------------*/
/* tables               */
/*----------------------*/

/* flex table when on a mobile */
@media(max-width:480px) {
  .article-content table{
    table-layout:auto !important;
  }
}

 /* override the inline styles in tables copied from google sheets
 do not change the references table fonts */
:not(#references) + table * {
  @media (max-width: 480px) {
    font-size: 1.0rem!important;
  }
  font-family: var(--font-sans)!important ;
  font-size: var(--content-font-size)!important;
  tr:nth-child(even) {
    background-color: var(--secondary-background-color);
  }
  tr:nth-child(odd) {
    background-color: var(--background-color);
  }
}
#references + table tbody tr td {
  border-bottom: 1px solid var(--border-color);
}
.article-content table {
  border-collapse: collapse;
  margin-top: var(--section-gap);
  width: 100%!important;
}
.article-content table thead, tfoot tr {
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  text-transform: uppercase;
  text-align: left;
  padding: 0.5rem;
}
.article-content table td {
  padding: 5px;
}
.article-content tr td:first-child {
    min-width: 1%;
    max-width: 25%;
    white-space: nowrap;
    padding-right: 10px;
}

/* ----------------- */
/* code highlighting */
/* ----------------- */
pre[class*=language-] ,
code[class*=language-] {
    hyphens: none;
    line-height: 1.5;
	  font-size: 1.4rem;
    font-family: var(--font-mono);
    max-width: 90vw;
}

/* make output lines in code blocks not selectable */
.command-line span.token.output {
	user-select: none;
}

/* inline code */
:not(pre) > code {
	font-size: 1.5rem;
  font-family: var(--font-mono);
  padding: 0.4rem;
  color: var(--code-color);
  background-color: var(--backgrond-color);
  border-radius: 3px;
}
