/* -------------------------------------------------------------------------- */
/* article cards used on home, tag, posts/pages etc                           */
/*                                                                            */
/* 1. article-card layout                                                     */
/* 2. article-card styles                                                     */
/* -------------------------------------------------------------------------- */

/* ---------------------- */
/* 1. article-card layout */
/* ---------------------- */

.article-card-image { grid-area: Image; }
.article-card-title { grid-area: Title; }
.article-card-author-names { grid-area: AuthorNames; }
.article-card-excerpt { grid-area: Excerpt; }
.article-card-date { grid-area: Date; }
.article-card-primary-tag { grid-area: PrimaryTag; }
.article-card-visibility-notice { grid-area: VisibilityNotice }
.article-card-author-profile-images { grid-area: Image; } /* overlay author profile pics on to the featured image for the card */

.article-card {
    border: 1px solid var(--color);
    box-sizing: border-box;
    display:grid;
    grid-template-areas:
        "Image"
        "Title"
        "Excerpt"
        "Date"
        "VisibilityNotice"
        "AuthorNames"
        "PrimaryTag";
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: max-content repeat(5, minmax(0, auto)) 1fr;
    grid-template-rows: repeat(6,auto) 1fr;
    box-shadow: var(--box-shadow);
    width: 350px;

    > * {
        padding: 0;
    }
    > *:not(.article-card-image):not(.article-card-author-profile-images) {
        padding-left: 10px;
        padding-right: 10px;
    }
    padding-bottom: 25px; 
}

/* fade in cards after they are loaded with the 'load more' button */
.article-card {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.article-card.fade-in {
    opacity: 0;
}

@media (min-width: 768px) {
    .main-article .article-card {
        display: grid;
        grid-template-areas:
        "Image Image"
        "Title Excerpt "
        "Date Excerpt"
        "VisibilityNotice Excerpt"
        "AuthorNames Excerpt"
        "PrimaryTag Excerpt";
        grid-template-columns: 1fr 1.33fr;
        grid-template-rows: repeat(5,minmax(0,auto)) 1fr;

        .article-card-title {
            font-size: 2.1rem;
            font-weight: normal;
        }
        .article-card-excerpt {
            font-size: 2.1rem;
        }
        .article-card-author-names {
            padding-top: 0;
            font-weight: normal;
        }
    }
}
.article-card-image {
    align-self: flex-start;
}
.article-card-image img { 
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}
.main-article {
  display: flex;
  justify-content: center;
}
.main-article .article-card-image img {
    border-radius: 10px;
}
.article-card-title {
    align-self:flex-end;
    margin-top: 7px;
}
.article-card-excerpt,
.article-card-date,
.article-card-visibility-notice,
.article-card-primary-tag,
.article-card-author-names,
.article-card-tag {
    align-self: flex-start;
    margin-top: 7px;
}

/*
 * custom options 
*/
.site.show-author-names .article-card-author-profile-images {
    display: none;
}
.site.show-author-images .article-card-author-names {
    display: none;
}
.site.show-author-none {
    .article-card-author-profile-images,
    .article-card-author-names {
        display: none;
    }
}
.site:not(.tags-on-article-cards,.dates-and-tags-on-article-cards) {
    .article-card-primary-tag {
        display:none;
    }
}
.site:not(.dates-on-article-cards,.dates-and-tags-on-article-cards) {
    .article-card-date {
        display:none;
    }
}
.article-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

/* small screen view */
.latest-articles:not(.highlight-featured-articles *),
.featured-articles:is(.highlight-featured-articles *) {
    .article-card {
        display: grid;
        justify-self: center;
        grid-template-columns: 1fr 135px;
        grid-template-areas:
            "Title Image"
            "Date Image"
            "VisibilityNotice Image"
            "PrimaryTag Image";
        box-shadow: none;
        column-gap: 2px;
        grid-template-rows: auto auto auto 1fr;

        padding-bottom: 10px;
    }
    .article-card-image {
        align-self: center;
    }
    .article-card-image img { 
        aspect-ratio: 1/1;
        border-radius: 5px;
    }
    .article-card-excerpt,
    .article-card-author-names {
        display: none;
    }
    .article-card-author-profile-images {
        margin: 0 0 8px 8px; 
    }
    .article-card-author-profile-image {
        img, svg { 
            height: 25px;
            width: 25px;
        }
    }
}
@media(min-width: 640px) {
    .main-article .article-card {
        width:100%;
        .article-card-author-profile-image {
            svg, img {
                width:70px;
                height:70px;
            }
        }
     }
}

@media (min-width:768px) {
    .article-card {
        width: 300px;
    }
    /* when using featured articles on larger screens article-cards are 300px wide and feature cards are 25% larger so they stand out */
    .highlight-featured-articles .article-card.featured { 
        width: calc(300px * 1.20);
        img {
            aspect-ratio: calc((16  * 1.20) / 9 );
        }
    }
}

/* offset main article elements */
@media (min-width: 1024px) {
    .home-page-list .main-article {
        margin-inline: var(--edge-padding);
        border: var(--site-default-border);
        border-radius: 15px;
    }
    .site:not(:is(.home-page-list)) .main-article {
        transform: translate(var(--main-article-offset), var(--main-article-offset));
        width: calc(100% - (1.5 * var(--main-article-offset)));
        height: max-content;
        .article-card {
            border: var(--site-default-border);
            background-color:aliceblue;
            border-radius: 15px;
            > * ,
            a {
                color: black!important;
            }
            .article-card-primary-tag {
                background-color: white;
            }
        }
        .article-card-excerpt {
            grid-area: Image;
            width: 50%;
            border: var(--site-default-border);
            border-radius: 15px;
            background-color: white;
            align-self: flex-end;
            justify-self: end;
            transform: translate(var(--main-article-offset),35%);
            a {
                color: black;
            }
        }
        .article-card-image img {
            aspect-ratio: 16/9;
            transform: translate(calc( -1 * var(--main-article-offset)),calc( -1 * var(--main-article-offset)) );
            border: var(--site-default-border);
        }
        .article-card-author-profile-images {
            border: var(--site-default-border);
            width: fit-content;
            background: white;
            border-radius: 15px;
            padding: 2px 9px 2px 2px;
        }
    }
    .latest-articles:not(.highlight-featured-articles *),
    .featured-articles:is(.highlight-featured-articles *) {
        .article-card {
            display: grid;
            width: 100%;
            grid-template-areas:
                "Image"
                "Title"
                "Date"
                "VisibilityNotice"
                "PrimaryTag";
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto 1fr;
    
            .article-card-image img {
                aspect-ratio: 16/9;
            }
        }
    }
}
/* ---------------------- */
/* 2. article-card styles */
/* ---------------------- */
.article-card-title {
    color: var(--title-color); 
    font-weight: 700;
}

/* show short divider line under title */
.article-card-title:after {
    display: block;
    content: '';
    width: 2em;
    transform: translateY(-3px);
    border-bottom: 1px solid var(--ghost-accent-color)
}
.article-card-primary-tag {
    width:fit-content;

}
.article-card {
    font-size: 1.5rem;
}
.article-card h1 {
    font-size: 1.6rem;
}
.featured-articles {
    font-size: 1rem;
}

/* don't display excerpts by default */
.main-article, .latest-articles, .recent-articles, .featured-articles, .related-articles, .author-articles, .tagged-articles {
    .article-card-excerpt {
        display:none;
    }
}
.main-article .article-card-excerpt.long {
    display:block;
}
.related-articles, .author-articles, .tagged-articles {
    .article-card-excerpt.short {
        display:block;
    }
}

.article-card-primary-tag  {
    background-color: var(--background-color);
    color: var(--title-color);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    padding: 0 15px;
    margin-left: 5px;
    min-width: 100px;
    text-align: center;
}
.article-card-visibility-notice {
    svg { 
        margin-right: 5px;
    }
}
.article-card-author-profile-images,
.article-card-author-names {
    display: flex;
    list-style: none;
    width: fit-content;
}
.article-card-author-name {
    display: flex;
    flex-direction: row;
    column-gap: 3px;
}
.article-card-author-profile-images { 
    align-self: end;
    justify-self: left;
    margin: 0  0 10px 10px;
    padding: 0px;
}
.article-card .article-card-author-profile-image {
    margin: 0 -7px 0 0;
    padding: 0;
    width: auto;
    img,svg {
        height: 37px;
        width: 37px;
        border: 1px solid var(--ghost-accent-color);
        border-radius: 50%;
        vertical-align: middle;  
    }
}