/* ---------------------------------------------------------------------------------- */
/* article-card content layout - this css is used by all pages that use article cards */
/* (home page, author & tagged collections)                                           */
/*                                                                                    */
/* 1. article-card collections                                                        */
/* 2. article-card content layout                                                     */
/* 3. article-card content styles                                                     */
/* 4. pagination (load more articles button)                                          */
/* 5. article card list titles                                                        */
/* ---------------------------------------------------------------------------------- */

/* --------------------------- */
/* 1. article-card collections */
/* --------------------------- */
.latest-articles,
.featured-articles,
.recent-articles,
.previous-articles,
.related-articles,
.author-articles,
.tagged-articles  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: stretch;
    gap: 20px;
    width: 100%;
    * {
        width: 100%;
    }
}

/* bob article cards up and down on hover */
.related-articles,
.tagged-articles,
.author-articles  {
    .article-card:hover {
        translate: 0 -10px;
        box-shadow: var(--box-shadow-hover);
    }
    .article-card {
        transition: opacity 1s cubic-bezier(.19,1,.22,1), translate 0.3s;
    }
}

/* divider between article-cards */
.site > * .article-card {
    padding-bottom: 10px; 
    border-bottom: 1px solid var(--border-color);
}

/* ------------------------------ */
/* 2. article-card content layout */
/* ------------------------------ */
.article-card-image { grid-area: Image; }
.article-card-title { grid-area: Title; }
.article-card-author-names { grid-area: Authors; }
.article-card-excerpt { grid-area: Excerpt; }
.article-card-metadata { grid-area: Metadata; }
.article-card-author-profile-images { grid-area: Image; } /* overlay author profile pics on to the featured image for the card */

.article-card {
    border: 1px solid var(--color);
    box-sizing: border-box;
    display:grid;
    grid-template-areas:
        "Image"
        "Title"
        "Excerpt"
        "Metadata"
        "Authors";
    align-items: center;
    align-content: space-between;
    grid-template-columns: auto;
    grid-auto-rows: min-content; 
    box-shadow: var(--box-shadow);

    /* padding on the default horizontal cards */
    > * {
        padding: 10px 10px 0px 10px;
    }
}
.main-article {
    align-self: center;

    .article-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "AuthorProfileImages"
            "Title"
            "Image"
            "Excerpt"
            "Metadata";
        .article-card-excerpt,
        .article-card-author-names {
            display:none;
        }
    }
}
.article-card-image img { 
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 25px;
}
.main-article .article-card-image img {
    border-radius: 10px;
}

/*
 * show first 6 featured articles in a horizontal format
 * Note if the user has chosen not to show featured articles, this format applies to the latest articles instead
*/
.latest-articles:not(.show-featured-articles *),
.featured-articles {
    row-gap: 10px;
    .article-card {
        display: grid;
        grid-template-columns: 2fr auto;
        grid-template-areas:
            "Title Image"
            "Metadata Image";

        box-shadow: none;
    }
    .article-card-image {
        padding:0 10px 0 0;
    }
    .article-card-image img { 
        aspect-ratio: 1/1;
        min-width: 110px;
        max-width: 120px;
        border-radius: 5px;
    }
    .article-card-excerpt,
    .article-card-author-names {
        display: none;
    }
}
@media(min-width: 480px) {
    .home-page-focus-left, .home-page-focus-right {
        .main-article {
            align-self: center;

            .article-card {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas:
                    "AuthorProfileImages"
                    "Title"
                    "Excerpt"
                    "Image"
                    "Metadata";
                    padding-bottom: 20px;
            }
        }
    }
}

/* on larger screens article-cards are 300px wide and feature cards are 25% larger so they stand out */
@media (min-width:760px) {
    .article-card {
        width: 300px;
    }
    .article-card.featured {
        width: calc(300px * 1.25);
        img {
            aspect-ratio: calc((16  * 1.25) / 9 );
        }
    }
    .home-page-focus-left, .home-page-focus-right {
        .latest-articles:not(.show-featured-articles *),
        .featured-articles {
            .article-card {
                width: 100%;
                box-shadow: none;
                > * {
                    padding: 0;
                }
            }
        }
    }
    .main-article .article-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "AuthorProfileImages Image"
            "Metadata Image"
            "Title Image"
            "Excerpt Image";
        .article-card-author-profile-images { grid-area: AuthorProfileImages; }

        width:100%;
        row-gap: 25px;
        border-radius: 15px;
        .article-card-author-names {
            display: none;
        }
        .article-card-title {
            font-size: clamp(2rem, 2.5vw, 3rem);
        }
        .article-card-excerpt {
            font-size: clamp(1.0rem, 1.5vw, 1.7rem);
        }
        img {
            width: 100%;
            height: auto;
            max-height: 25vw;
            aspect-ratio: 1 /1 ;
            object-fit: cover;
            border-radius: 35px;
        }
    }
}

/* ------------------------------ */
/* 4. article-card content styles */
/* ------------------------------ */
.article-card-title {
    color: var(--title-color); 
    font-weight: 600;
}
.main-article .article-card-title {
    text-transform: uppercase;
}

/* show short divider line under title */
.article-card-title:after {
    display: block;
    content: '';
    width: 2em;
    border-bottom: 1px solid var(--theme-accent-color)
}
.article-card-tag {
    width:fit-content;

}
.article-card {
    font-size: 1.3rem;
}
.article-card h1 {
    font-size: 1.6rem;
}
.featured-articles {
    font-size: 1rem;
}

/* don't display excerpts by default */
.main-article, .latest-articles, .recent-articles, .previous-articles, .featured-articles, .related-articles, .author-articles, .tagged-articles {
    .article-card-excerpt {
        display:none;
    }
}
.main-article .article-card-excerpt.long {
    display:block;
}
.related-articles, .author-articles, .tagged-articles {
    .article-card-excerpt.short {
        display:block;
    }
}
.featured-articles {
    .article-card-date {
        display:none;
    }
}
.article-card-metadata {
    display: flex;
    gap: 6px;
    align-items: center;
    flex-wrap:wrap;
}
.article-card-tag  {
    background-color: var(--background-color);
    color: var(--title-color);
    border: 1px solid var(--border-color);
    border-radius: 22px;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: .05rem;
    outline: none;
    text-transform: uppercase;
    padding: 0 5px;
}
.article-card-restricted-access {
    display: flex;
    svg { 
        margin-right: 5px;
    }
}
.article-card-author-profile-images,
.article-card-author-names  {
    display: inline-flex;
    list-style: none;
}
.article-card-author-profile-images { 
    align-self: end;
    justify-self: left;
    margin: 0  0 10px 10px;
    z-index: 500;
}
.article-card .author-profile-image {
    margin: 0 -7px 0 0;
    width: auto;
    img, svg { 
        border: 1px solid var(--theme-accent-color);
        height: 25px;
        width: 25px;
    }
}
.main-article  .author-profile-image {
    margin: 0 -10px 0 0;
    img, svg { 
        border: 3px solid var(--theme-accent-color);
        height: 60px;
        width: 60px;
    }
}
.article-card-author-profile-images {
    margin: 0 0 10px 10px;
}
/* ---------------------------------- */
/* 4. pagination (load more articles) */
/* ---------------------------------- */
.pagination {
    display:flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 15px;
}

/* --------------------------- */
/* 5. article card list titles */
/* --------------------------- */
.related-articles-title,
.recent-articles-title,
.featured-articles-title,
.latest-articles-title,
.featured-articles-title,
.previous-articles-title {
    border-bottom: 1px solid var(--border-color);
    font-size: 1.2rem;
    font-weight: 550;
    letter-spacing: .025em;
    padding-top: var(--section-gap);
    /* todo clamp */
    @media (min-width:760px) {
        font-size: 2rem;
        width: 100%;
    }
}