/* --------------------------- */
/* article-card content layout */
/* author & tagged collections */
/* article card list titles    */
/* article-card content styles */
/* larger screens              */
/* --------------------------- */

/* ----------------------------------------- */
/* article-card content layout (mobile view) */
/* ----------------------------------------- */
.article-card-image { grid-area: Image; }
.article-card-title { grid-area: Title; }
.article-card-author { grid-area: Author; }
.article-card-excerpt { grid-area: Excerpt; }
.article-card-metadata { grid-area: Metadata; }

/* default article card view */
.article-card {
    display:grid;
    grid-template-columns: auto;
    grid-template-areas:
        "Image"
        "Title"
        "Excerpt"
        "Metadata"
        "Author";
}
.main-article .article-card {
    display:grid;
    grid-template-columns: auto;
    grid-template-areas:
        "Title"
        "Image"
        "Excerpt"
        "Metadata"
        "Author";
}
.featured-articles .article-card {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "Title Image"
        "Metadata Image"
        "Author Image";
}

/* --------------------------- */
/* author & tagged collections */
/* --------------------------- */
.article-collection-as-list {
    .author-articles, 
    .tagged-articles {
        gap: var(--article-card-padding);
        .article-card {
            @media (min-width:760px) {
                grid-template-columns: 1.2fr 2fr;
                grid-template-areas:
                    "Image Title"
                    "Image Excerpt"
                    "Image Metadata"
                    "Image Author";
            }
        }
    }
}

/* flexible grid of article-cards */
.article-collection-as-grid {
    .tagged-articles,
    .author-articles  {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(248px,1fr));
        margin-left:0;
        margin-right:0;
        gap: var(--article-card-padding);
        /* bob article cards up and down on hover */
        .article-card:hover {
            translate: 0 -10px;
        }
        .article-card {
            transition: opacity 1s cubic-bezier(.19,1,.22,1), translate 0.3s;
            border: 1px solid var(--border-color);
            padding: 10px;
        }
        .article-card-image  {
            border-radius: 10px;
            max-height: 700px;
            align-self:baseline;
        }
    }
}

/* article-card excerpt display settings */
.main-article, .related-articles, .author-articles, .tagged-articles {
    .article-card-excerpt.long {
        display:none;
    }
}
.featured-articles, .recent-articles, .previous-articles {
    .article-card-excerpt {
        display: none;
    }
}
.main-article .article-card-excerpt.short {
    display:block;
}

/* divider between article-cards */
.article-card {
    padding-bottom: var(--article-card-padding);
    padding-top: var(--article-card-padding);
}
.site > * .article-card:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
}
.site > * .article-card:first-of-type {
    padding-top: calc(var(--article-card-padding)/1.5) ;
}

/* ------------------------ */
/* article card list titles */
/* ------------------------ */
.site {
    .related-articles-title,
    .recent-articles-title,
    .featured-articles-title,
    .previous-articles-title {
        border-bottom: 1px solid var(--border-color);
        font-size: 1.6rem;
        font-weight: 550;
        letter-spacing: .025em;
        margin-top: var(--section-margin);
    }
    &:not(.home-page-list) {
        @media (min-width: 760px) {
            .featured-articles-title {
                margin-top:0;
            }
        }
        @media (min-width: 1100px) {
            .recent-articles-title {
                margin-top:0;
            }
        }
    }
}

/* --------------------------- */
/* article-card content styles */
/* --------------------------- */
.article-card {
    gap: 9px;
}
.tagged-articles,
.author-articles,
.featured-articles {
    .article-card-image {
        align-self: center;
    }
}
.article-card-image img { 
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 5px;
}
.article-card-title {
    color: var(--title-color); 
    font-weight: 600;
}

/* show divider line under title */
.article-card-title:after {
    display: grid;
    content: '';
    width: 2em;
    border-bottom: 1px solid var(--theme-accent-color)
}
.article-card h1 {
    line-height: 1.3;
    font-size: 1.6rem;
}
.recent-articles,
.previous-articles,
.related-articles ,
.featured-articles {
    .article-card h1 {
        line-height: 1.3;
        font-size: 1.5rem;
    }
}
.article-card-excerpt,
.article-card-author,
.article-card-date {
    font-size: 1.3rem;
}
.article-card-tag  {
    background-color: var(--background-color);
    color: var(--title-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: .05rem;
    outline: none;
    margin-left: 6px;
    text-transform: uppercase;
    padding: 0 2px 0 2px;
}

/* -------------- */
/* larger screens */
/* -------------- */
@media (min-width: 480px) {
    .site.home-template:not(.home-page-list) {
        > * {
            margin-left: 0;
            margin-right: 0;
        }
        .main-article .article-card {
            padding:0;
        }
        .previous-articles {
            gap: 15px;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(248px,1fr));
            .article-card {
                gap:6px;
            }
            .previous-articles-title {
                grid-column: 1/-1;
                grid-row: 1; 
            }
        }
        .main-article img {
            height: 500px;
        }
        .main-article .article-card-excerpt.short {
            display:none;
        }
        .main-article .article-card-excerpt.long {
            display:inline;
            font-size: var(--content-font-size);
        }
    }
    .previous-articles .article-card {
        border-bottom: 1px solid var(--border-color);
    }
    .main-article,
    .recent-articles {
        border-right: 1px solid var(--border-color); 
    }
}