/* ------------------------- */
/* styling for article-cards */
/* ------------------------- */
.previous-articles ,
.recent-articles {
    todo-gap: 10px;
}

.related-articles .article-card:not(:last-child),
.featured-articles .article-card:not(:last-child),
.previous-articles .article-card:not(:last-child),
.recent-articles .article-card:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.site {
    .related-articles-title,
    .recent-articles-title,
    .featured-articles-title,
    .previous-articles-title {
        border-bottom: 1px solid var(--border-color);
        font-size: 1.6rem;
        font-weight: 550;
        letter-spacing: .025em;
        padding-bottom: 2px;
        margin-bottom: 10px;
    }
}
.main-article .article-card h2 {
    line-height: 1.1;
    font-size: 2rem;
}
.main-article .article-card h2 ,
.previous-articles .article-card h2 ,
.recent-articles .article-card h2 {
    padding-top:10px;
    line-height: 1.3;
    font-size: 1.8rem;
}

.article-card-text, 
.article-card-metadata {
    padding-top: 10px;
}
.related-articles .article-card h2,
.featured-articles .article-card h2 {
    line-height: 1.3;
    font-size: 1.5rem;
}

/* todo */
.article-card-excerpt {
    display:none;
}
.main-article .article-card-excerpt.short {
    display:block;
}
/* img */
.article-card-tag  {
    align-items: center;
    background-color: var(--background-color);
    color: var(--title-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 800;
    height: 2.5rem;
    justify-content: center;
    letter-spacing: .05rem;
    outline: none;
    padding: 0 8px;
    margin-left: 15px;
    text-transform: uppercase;
}

.article-card-date {
    font-size: 1.3rem;
}

@todo-media (min-width: 760px) {
        .recent-articles, .previous-articles {
        .article-card-text,
        .article-card-metadata {
            todo-padding-left:10px;
        }
    }
}
@todo-media (min-width: 1100px) {
    .recent-articles-title {
        display:none;
    }
    .recent-articles {
        .article-card-text,
        .article-card-metadata {
            todo-padding-left: 0px;
        }
    }
    .recent-articles {
        margin-top:28px;
    }
    .main-article .article-card-title {
        font-size: 3rem;
    }
    .main-article .article-card-excerpt.short {
        display:none;
    }
    .main-article .article-card-excerpt.long {
        display:block;
    }
}
.article-card .article-card-title {
    color: var(--heading-color); 
    font-weight: 600;
}
