/* --------------------------------------------------------------- */
/* controls presentation of lists of article-cards, list tiles etc */
/* --------------------------------------------------------------- */

/* list titles */
.site {
    .related-articles-title,
    .recent-articles-title,
    .featured-articles-title,
    .previous-articles-title {
        border-bottom: 1px solid var(--border-color);
        font-size: 1.6rem;
        font-weight: 550;
        letter-spacing: .025em;
    }
}
/* center the article-card lists on wider screens */ 
@media (min-width:760px) {
    .recent-articles,
    .previous-articles {
        margin:0 15vw ;
    }
}

@media (min-width:1100px) {
    .previous-articles-title {
        padding-top: 20px;
    }
    .recent-articles {
        margin:0;
    }
    .previous-articles {
        margin:0 25vw ;
    }
}

/* divider between article-cards */
.related-articles .article-card:not(:last-child),
.featured-articles .article-card:not(:last-child),
.previous-articles .article-card:not(:last-child),
.recent-articles .article-card:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.author-articles, 
.tagged-articles {
    /* bob article cards up and down on hover */
    .article-card {
        transition: opacity 1s cubic-bezier(.19,1,.22,1), translate 0.3s;
        padding:10px;
        border: 1px solid var(--border-color);
    }
    .article-card:hover {
        translate: 0 -10px;
    }
    img  {
        border-radius: 10px;
    }
}

@media (min-width: 760px) {
    .main-article img {
        aspect-ratio: 4/3;
    }
    .main-article .article-card h1 {
        font-size: 3rem;
    }
    .featured-articles {
        border-left: 1px solid var(--border-color);
    }
}
@media (min-width: 1100px) {
    .main-article img {
        height: 450px;
    }
    .recent-articles {
        margin-top: var(--top-margin);
        border-right: 1px solid var(--border-color);
        img {
            height: 150px;
        }
    }
    .main-article .article-card-title {
        font-size: 3rem;
    }
    .main-article .article-card-excerpt.short {
        display:none;
    }
    .main-article .article-card-excerpt.long {
        display:inline;
    }
    .recent-articles .recent-articles-title {
        margin-top:0;
    }
}


