/* ------------------------------- */
/* styling for all article content */
/* ------------------------------- */
.article-content {
  max-width: 100vw;
  justify-self: center;
  padding-left: var(--site-padding);
  padding-right: var(--site-padding);
}

.article-content > :first-child{
  padding-top:15px;
}

@media screen and (min-width: 760px) {
  .article-content :first-child{
    padding-top:0px;
  }
}

.article-content > * + * {
  margin-top:var(--top-margin);
  font-size: var(--content-font-size);
}
/* margin for headings - todo*/
.article-content > [id]:not(:first-child) {
  margin-top: 56px;
}
h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

.article-content h1, .article-content.h2, .article-content.h3 {
  color: var(--heading-color);
  margin-block:0 0;
}
sup {
    font-size: var(--content-sup-font-size);
}

/* A margin before/after HRs and blockquotes */
.article-content hr,
.article-content ul,
.article-content blockquote {
    margin-top: 2rem; 
}

.article-content blockquote {
    font-style: italic;
    padding: 0 2rem;
    border-left: 0.1rem solid var(--accent-color);
}

/* figure captions */
.article-content figcaption ,
.article-content figcaption * {
    font-size: var(--content-fig-font-size);
    line-height: 1.5;
    color: var(--secondary-text-color);
    margin-top: 1.0rem;
    text-align: center;
}

.article-content li + li {
    margin-top: 0.8rem;
}

.article-content a span,
.article-content a {
  color: var(--link-color);
  opacity: 1;
}
.article-content a:hover {
    text-decoration: underline;
    text-decoration-color: var(--link-color);
    opacity: 0.8;
}

/*----------------------*/
/* tables               */
/*----------------------*/

/* flex table when on a mobile */
@media(max-width:480px) {
    .article-content table{
      table-layout:auto !important;
     }
 }

 /* override the inline styles in tables copied from google sheets
 do not change the references table fonts */
:not(#references) + table * {
  @media (max-width: 480px) {
    font-size: 1.0rem!important;
  }
  font-family: var(--font-sans)!important ;
  font-size: var(--content-font-size)!important;
  tr:nth-child(even) {
    background-color: var(--secondary-background-color);
  }
  tr:nth-child(odd) {
    background-color: var(--background-color);
  }
}

#references + table tbody tr td {
  border-bottom: 1px solid var(--border-color);
}

.article-content table {
  border-collapse: collapse;
  margin-top: var(--top-margin);
  width: 100%!important;
}

.article-content table thead, tfoot tr {
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  text-transform: uppercase;
  text-align: left;
  padding: 0.5rem;
}
.article-content table td {
  padding: 5px;
}


.article-content tr td:first-child {
    min-width: 1%;
    max-width: 25%;
    white-space: nowrap;
    padding-right: 10px;
}

/* ----------------- */
/* code highlighting */
/* ----------------- */
pre[class*="language-"] ,
code[class*="language-"] {
    hyphens: none;
    line-height: 1.5;
    white-space: pre;
	  font-size: 1.4rem;
    font-family: var(--font-mono);
}

/* make output lines in code blocks not selectable */
.command-line span.token.output {
	user-select: none;
}
/* inline code */
:not(pre) > code {
	font-size: 1.4rem;
  font-family: var(--font-mono);
  padding: 0.4rem;
  color: var(--accent-color);
  background-color: var(--backgrond-color);
  border-radius: 3px;
}
