/* ------------------------------- */
/* styling for all article content */
/* ------------------------------- */

.article img {
    &:not:has(.icon),
    &:not:has(.kg-bookmark-icon) {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
      }
    margin-left: auto;
    margin-right: auto;
}

/* margin for headings*/
.article-container > [id]:not(:first-child) {
  margin-top: var(--heading-gap);
}
.article-container > :first-child{
  margin-top:15px;
}

@media (min-width: 760px) {
  .article-container :first-child{
    margin-top:0px;
  }
}
.article-container > * + * {
  margin-top:var(--section-gap);
}


/* drop cap on leading paragraph */
.article-container > p:first-of-type::first-line {
  font-size:2.5rem;
}
.article-container > p:first-of-type:first-letter {
  float: left;
  font-size: 8.0rem;
  font-weight: bold;
  line-height: 1;
  margin: -5px 10px 0 -5px;
}

h1 { font-size: var(--h1-font-size); }
h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }
sup { font-size: var(--content-sup-font-size); }
.article h1, .article.h2, .article.h3 {
    margin-block:0 0;
}

/* A margin before/after HRs and blockquotes */
.article hr,
.article ul,
.article blockquote {
    margin-top: 2rem; 
}
.article blockquote {
    font-style: italic;
    padding: 0 2rem;
    border-left: 0.1rem solid var(--ghost-accent-color);
}

/* figure captions */
figcaption {
    font-size: var(--content-fig-font-size);
    line-height: 1.5;
    color: var(--secondary-text-color);
    margin-top: 1.0rem;
    text-align: center;
}

/* hide feature card figcaptions in article cards */
.article-card figcaption {
  display: none;
}
.todoarticle li + li {
    margin-top: 0.8rem;
}
.article a span,
.article a {
  color: var(--link-color);
  opacity: 1;
}
.article a:hover {
    text-decoration: underline;
    text-decoration-color: var(--link-color);
    opacity: 0.8;
}

/* fade public preview text on posts requiring a subscription */
.article-container:has(.gh-post-upgrade-cta)>p:last-of-type {
  mask-image: linear-gradient(to bottom, var(--text-color) 30%, transparent 100%);
}
/*----------------------*/
/* tables               */
/*----------------------*/

 /* override the inline styles in tables copied from google sheets */
.article table {
  table-layout:auto!important;
  border-collapse: collapse;
  margin-top: var(--section-gap);
  width: 100%!important;
  td {
    overflow-wrap:break-word!important;
    padding: 5px;
  }
}
.article table thead, tfoot tr {
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  text-transform: uppercase;
  text-align: left;
  padding: 0.5rem;
}
:not(#references) + .article table * {
  font-size: clamp(1.0rem, 1.5vw, 1.7rem);
  tr:nth-child(even) {
    background-color: var(--secondary-background-color);
  }
  tr:nth-child(odd) {
    background-color: var(--background-color);
  }
}
#references + table tbody tr td {
  border-bottom: 1px solid var(--border-color);
}

/* ----------------- */
/* code highlighting */
/* ----------------- */
/* make output lines in code blocks not selectable */
.command-line span.token.output {
	user-select: none;
}
pre[class*=language-] {
  margin-top: var(--section-gap);
}

/* inline code */
:not(pre) > code {
	font-size: 1.5rem;
  font-family: var(--font-mono);
  padding: 0.4rem;
  color: var(--code-color);
  background-color: var(--backgrond-color);
  border-radius: 3px;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-all; /* stop long directory names overflowing on small screens */
}
