.author-title {
    color: var(--banner-description-color);
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}

.author-profile-image {
    border-radius: 50%;
    height: 45px;
    margin-top: 0;
    width: 45px;
}

.author-bio {
    color: var(--banner-description-color);
    max-width: 1000px;
    padding-top:10px;
    text-align: center;
    @media (max-width: 1100px) {
        display:none;
    }
}
.author-links {
    color: var(--banner-description-color);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
}

.author-website,
.author-location,
.author-facebook,
.author-twitter {
    margin-right: 8px;
    display: flex;
    align-items: center;
    gap:3px;
    a, svg {
        color: var(--banner-description-color);
    }
}
