/* ---------------------- */
/* buttons                */
/* ---------------------- */

.button {
    background-color: var(--ghost-accent-color);
    color: black;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
    font-size: 1.5rem;
    text-wrap: nowrap;
    padding: 8px 16px;
}

