/* note that as of Ghost 5 it is not possible to specify an external css file for the comments section.
 * changes to the inline styles contained in the iframe have to be done with js */
.comments {
    justify-self: center;
    width: 100%;
    position: relative;
    border-top: var(--site-default-border);
    border-bottom: var(--site-default-border);
    margin-bottom: 40px;
    margin-top: 40px;
    padding-top: var(--article-margin-gap);
}
/*
 this is useful if your site is a standard blog and the only reason people register is to leave comments:
*/
.post-template.hide-comments-subscribe-cta .comments {
    display:none;
}