/* 
 * this css file controls the behaviour of the demo-options html created by demo.js
 *
 *  to enable demo functionality, use code injection to insert a data-demo-site attribute to root of the doc
 *      <script>
 *          document.documentElement.setAttribute('data-demo-site', 'true');
 *      </script>
*/
[data-demo-site="true"] {
    /* options picker can be open or closed - open settings here */
    .demo-options { 
        z-index: 2000;
        background-color: var(--secondary-background-color);
        border-radius: 10px;
        border:1px solid var(--ghost-accent-color);
        font-size:1.4rem;

        display:flex;
        flex-direction: column;
        gap:7px; 
        padding:7px 0;

        hr {
            border-color: var(--ghost-accent-color);
        }
        .download-button-description {
            text-align: center;
        }
    }

    .demo-options:not(.options-picker-closed) {
        position: fixed;
        bottom: 20px;
        left: 40px;
    }
    /* on refresh the pop-up options picker is closed */
    .demo-options.options-picker-closed {
        position:fixed;
        bottom:20px;
        left: 40px;
        width: 90px;
        .download-link,
        .demo-options-button {
            display: flex;
            flex-direction: column;
        }
        .options-picker-container {
            display:none;
        }
    }
    .demo-options:not(.options-picker-closed) {
        > :not(hr) {
            padding-left:15px;
            padding-right: 15px;
        }
        width: 300px;
        .download-link ,
        .demo-options-button {
            flex-direction: row;
            column-gap: 15px;
        }
        .options-picker-form {
            padding: 10px 0 10px 0;
            display:flex;
            flex-direction: column;
            gap: 15px
        };
        .form-fieldset {
            display:flex;
            flex-direction: column;
            row-gap: 10px;
            border-radius: 10px;
        }

        details[open] {
            summary {
                color: transparent;
            }
            summary::marker {
                color: var(--text-color);
            }
        }
        .form-group {
            display: flex;
            flex-direction: column;
            gap:7px;
        }
        .form-select {
            padding: 5px;
            border-radius: 5px;
        }

    }

    /* these options are enabled by the handlebars logic - use css to hide/show the relevant html */
    .site {
        &:not(:is(.subscribe,.newsletter,.newsletter-subscribe)) .enrol {
            height:0;
            padding:0;
            border:unset;
        }
        &.subscribe {
            .enrol .enrol-newsletter {
                display:none;
            }
        }
        &.newsletter {
            .enrol .enrol-subscribe {
                display: none;
            }
        }
        &:not(.show-payment-request) {
            .one-time-payment {
                display: none;
            }
        }
       
        &.hide-related-posts {
            .related-articles {
                display: none;
            }
        }
        &.post-toc-none {
            .table-of-contents {
                display: none!important;
            }
        }
    }
}
@media (min-width: 460px ) {
    [data-demo-site="true"] {
        .demo-options.options-picker-closed{
            position:fixed;
            top:110px;
            left: 150px;
            bottom: auto;
        }
        .demo-options:not(.options-picker-closed) {
            bottom: auto;
            left: 150px;
            position: fixed;
            top: 110px;
        }
    }
}