/* ------------------------------------------------------------------------------------------------------ */
/* the hero header is a page banner that shows under the site navigation bar                              */
/* for posts the post title and metadata are shown over a partially greyed out copy of the featured image */
/* for the index page, tag lists and other pages titles are shown over a solid color background           */
/* ------------------------------------------------------------------------------------------------------ */

.hero-header {
    margin-top: var(--site-top-gap);
    background-color: var(--banner-background-color);
    width: 100vw;
    height: var(--hero-header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 0.25px solid var(--border-color);
}
/* keep a border under the site-header as screen scrolls */
.hero-header::before {
    content: "";
    position:fixed;
    left: 0;
    right: 0;
    top:var(--site-header-height); 
    width:100vw;
    border-bottom: 0.25px solid var(--border-color);
  }
.hero-title {
    font-size: 3.25rem;
    font-weight: 800;
    color: var(--banner-title-color);
    z-index: 2;
}
.hero-description {
    color: var(--banner-description-color);
    font-size: 1.7rem;
    z-index: 2;
}

/* metadata items:  date, tags and reading times */
.hero-date, .hero-tags, .hero-authors {
    z-index: 2;
    font-size: 1.5rem;
    color: var(--banner-description-color);
}
todo {
.hero-tags a, .hero-authors .author-names a {
    color: var(--link-color);
}
}
.hero-tags a:hover {
    opacity: 0.8;
}

.hero-authors {
    display: flex;
    align-items: center;

    a:nth-child(1 of .author-name) {
        margin-left: 25px;
    }
    a.author-name:not(:nth-child(1 of .author-name)) {
        margin-left: 5px;
    }
    .author-profile-image {
        border: 3px solid var(--theme-accent-color);
        border-radius: 50%;
        margin: 0 -7px;
        height: 43px;
        width: 43px;
        :is(img,svg) {
            border-radius: 50%;
        }
    }
}

/* small screens */
@media (max-width: 760px) {
    .hero-title {
        font-size: 2.6rem;
    }
}