/* ------------------------------------------------------------------------- */
/* the hero header is a page banner that shows under the site navigation bar */
/* 1. common styles                                                          */
/* 2. plain hero style                                                       */
/* 3. color/grayscale hero style                                             */
/* ------------------------------------------------------------------------- */

/* ------------------ */
/* 1. common styles   */
/* ------------------ */
.hero-header {
    margin-bottom: 60px;
}
.hero-author-list {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    padding-bottom: 10px;

    li:nth-child(1 of .author-name) {
        margin-left: 25px;
    }
    .author-profile-image {
        margin: 0 -7px;
    }
}
.hero-title,
.hero-description {
    z-index: 3;
    font-family: var(--secondary-font-sans);
}
.home-template {
    .hero-title,
    .hero-description {
        max-width: 95%;
    }
}
h1.hero-title {
    font-size: clamp(3rem, calc(4vw+2vh), 8rem);
    line-height: 1.3;
    font-weight: bold;
    color: var(--banner-title-color);
}
.hero-date,
.hero-tags,
.hero-tags a,
.hero-author-list,
.hero-author-list a,
.hero-description {
    font-size: clamp(1rem, calc(1vw+1.65vh), 3rem);
    color: var(--banner-description-color);
    z-index: 2;
}
/* ------------------- */
/* 2. plain hero style */
/* ------------------- */
.hero-style-plain {
    .hero-header {
        background-color: var(--banner-background-color);
        min-height: 190px;
        gap: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom: 0.25px solid var(--border-color);
    }
    .hero-date,
    .hero-author-list,
    .hero-tags {
        display: none;
    }
    .hero-custom-excerpt {
        display:none;
    }
    .hero-image {
        display: none;

    }
}

/* ----------------------------- */
/* 3. color/grayscale hero style */
/* ----------------------------- */
.home-template .hero-header {
    grid-template-rows: min-content min-content 0 0;
}
.hero-style-color-image,
.hero-style-grayscale-image{
    .hero-header {
        background-color: var(--banner-background-color);
        gap: 7px;
        border-bottom: 0.25px solid var(--border-color);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-height: 450px;
        padding-top: 35px;
        padding-bottom: 35px;
        width: 100%;
    }
     
    .author-profile-image  {
        svg, img {
            height: 32px;
            width: 32px;
        }
    }
    .hero-description { 
        max-width: var(--max-content-width);
    }
    .hero-custom-excerpt {
        display:none;
    }
    .hero-image {
        mask-image: var(--hero-background-gradient);
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
        object-fit:cover;
        filter: blur(3px);

    }
    .hero-description,
    .hero-date,
    .hero-tags,
    .hero-tags a,
    .author-name a {
        color: var(--banner-title-color);
        font-weight: bold;
    }
}
.hero-style-grayscale-image .hero-image {
    filter: blur(3px) grayscale(100%);
}