/* ------------------------------------------------------------------------- */
/* the hero header is a page banner that shows under the site navigation bar */
/* 1. common styles                                                          */
/* 2. plain hero style                                                       */
/* 3. color/grayscale hero style                                             */
/* ------------------------------------------------------------------------- */

/* ------------------ */
/* 1. common styles   */
/* ------------------ */
.hero-header {
    margin-top: var(--site-top-gap);
    margin-bottom: var(--section-gap);
    padding: 0;
}
.hero-author-list {
    display: flex;
    align-items: center;
    list-style: none;

    li:nth-child(1 of .author-name) {
        margin-left: 25px;
    }
    .author-profile-image {
        margin: 0 -7px;
    }
}
.hero-title,
.hero-description {
    text-align: center;
    z-index: 3;
    font-family: var(--secondary-font-sans);
}
.home-template {
    .hero-title,
    .hero-description {
        max-width: 95%;
    }
}
h1.hero-title {
    font-size: clamp(3rem, calc(1.5vw+3vh), 8rem);
    line-height: 1.3;
    font-weight: bold;
    color: var(--banner-title-color);
}
.hero-description {
    font-size: clamp(1rem, calc(1vw+1.65vh), 3rem);
    color: var(--banner-description-color);
}

/* metadata items:  date, tags and reading times */
.hero-date, .hero-tags, .hero-author-list {
    z-index: 2;
    font-size: 1.5rem;
    color: var(--banner-description-color);
}
/* ------------------- */
/* 2. plain hero style */
/* ------------------- */
.hero-style-plain {
    .hero-header {
        background-color: var(--banner-background-color);
        width: 100vw;
        height: 190px;
        gap: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom: 0.25px solid var(--border-color);
    }
    .hero-custom-excerpt {
        display:none;
    }
    .hero-cover-image {
        display: none;

    }
}

/* ----------------------------- */
/* 3. color/grayscale hero style */
/* ----------------------------- */
.hero-style-color,
.hero-style-grayscale {
    .hero-header {
        background-color: var(--banner-background-color);
        width: 100vw;
        height: 33vh;
        gap: 7px;
        justify-items: center;
        align-items: center;
        text-align: center;
        border-bottom: 0.25px solid var(--border-color);

        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "HeroTitle"
            "HeroDescription";

        img {
            height:inherit;
        }

    }
    .hero-title { grid-area: HeroTitle;}
    .hero-description { grid-area: HeroDescription;}
    .hero-title { 
        align-self: self-end;    
        todowhite-space: nowrap;
        max-width: unset;
    }
    .hero-description { 
        align-self: self-start;    
        max-width: var(--max-content-width);
    }
    .hero-custom-excerpt {
        display:none;
    }
    .hero-cover-image {
        mask-image: var(--hero-background-gradient);
        width:100vw;
        height: inherit;
        overflow:hidden;
        object-fit:cover;
        grid-area: 1 / 1 / -1 / -1;
    }
}
.hero-style-grayscale  .hero-header {
    filter: grayscale(100%);
}