
/* ---------------------------------------------------------------------------------- */
/* home page styles                                                                   */
/*                                                                                    */
/* 1. article-card collections                                                        */
/* 2. article card collection titles                                                  */
/* 3. custom layout options                                                           */
/* 4. pagination (load more articles)                                                 */
/* ---------------------------------------------------------------------------------- */

/* --------------------------- */
/* 1. article-card collections */
/* --------------------------- */
.article-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 30px;
    * {
        width: 100%;
    }
}

.todo-box-outline .article-collection {
    outline: 1px solid var(--ghost-accent-color);
    outline-offset: -10px;
    border-radius: 15px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    margin-top: 30px;
}

/* bob article cards up and down on hover */
.related-articles,
.tagged-articles,
.author-articles  {
    .article-card:hover {
        translate: 0 -10px;
        box-shadow: var(--box-shadow-hover);
    }
    .article-card {
        transition: opacity 1s cubic-bezier(.19,1,.22,1), translate 0.3s;
    }
}


.highlight-featured-articles .article-card.featured { 
    .article-card-image img {
        border: solid 1px var(--ghost-accent-color);
    }
}

/* --------------------------------- */
/* 2. article card collection titles */
/* --------------------------------- */
.article-collection-title {
    border-bottom: 1px solid var(--border-color);
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .025em;
    margin-top: 40px;
}
.todo-box-outline .article-collection-title {
    padding-top: var(--section-gap);
    transform: translateY(-11px);
    background: var(--background-color);
    height:max-content;
    margin-right: auto;
    padding: 2px 12px;
    outline: 1px solid var(--ghost-accent-color);
    border-radius: 15px;
    text-align: center;
}
/* ------------------------ */
/* 3. custom layout options *
/* ------------------------ */
@media (min-width:760px) {
    .article-card {
        width: 300px;
    }
    /* when using featured articles on larger screens article-cards are 300px wide and feature cards are 25% larger so they stand out */
    .highlight-featured-articles .article-card.featured { 
        width: calc(300px * 1.25);
        img {
            aspect-ratio: calc((16  * 1.25) / 9 );
        }
    }
}
@media (min-width:1100px) {
    .home-page-focus-left, .home-page-focus-right {
        .latest-articles:not(.highlight-featured-articles *),
        .featured-articles {
            flex-direction: column;
            align-items: center;
            .article-collection-title {
                text-align: center;
            }
            .article-card {
                width: 100%;
            }
        }
    }
}

/* ---------------------------------- */
/* 4. pagination (load more articles) */
/* ---------------------------------- */
.pagination {
    display:flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 15px;
}
