
/* ---------------------------------------------------------------------------------- */
/* home page styles                                                                   */
/*                                                                                    */
/* 1. article-card collections                                                        */
/* 2. article card collection titles                                                  */
/* 3. custom layout options                                                           */
/* 4. pagination (load more articles)                                                 */
/* ---------------------------------------------------------------------------------- */

/* --------------------------- */
/* 1. article-card collections */
/* --------------------------- */
.article-card-collection {
    border-top: 3px solid black;
    display: flex;
    flex-direction: column;
}

/* bob article cards up and down on hover */
.related-articles,
.tagged-articles,
.author-articles  {
    .article-card:hover {
        translate: 0 -10px;
        box-shadow: var(--box-shadow-hover);
    }
    .article-card {
        transition: opacity 1s cubic-bezier(.19,1,.22,1), translate 0.3s;
    }
}

.highlight-featured-articles .article-card.featured { 
    .article-card-image img {
        border: solid 1px var(--ghost-accent-color);
    }
}

/* --------------------------------- */
/* 2. article card collection titles */
/* --------------------------------- */

.article-card-collection-title {
    display: flex;
    align-self: center;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .025em;
    transform: translateY(-25px);
    background: var(--background-color);
    padding: 2px 12px;
    outline: 3px solid black;
    border-radius: 15px;
    width: fit-content;
    text-align: center;
}
/* ------------------------ */
/* 3. custom layout options *
/* ------------------------ */

@media (min-width:1100px) {
    .home-page-focus-left, .home-page-focus-right {
        .latest-articles:not(.highlight-featured-articles *),
        .featured-articles:is(.highlight-featured-articles *) {
            flex-direction: column;
            align-items: center;
            .article-card-collection-title {
                text-align: center;
            }
        }
    }
    .article-card-collection {
        border: 3px solid black;
        border-radius: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .article-card-collection-title {
        grid-column: span 2;
        transform: translateX(-45%) rotate(-180deg);
        writing-mode: vertical-lr;
        width: min-content;
        white-space:nowrap;
        padding: 12px 2px;
        height:fit-content;
    }
    .article-card-collection {
        display: flex;
        flex-direction: row;
    }
    .latest-articles:not(.highlight-featured-articles *),
    .featured-articles:is(.highlight-featured-articles *) {
        margin-inline: var(--edge-padding);
    }

    .latest-articles:not(.highlight-featured-articles *),
    .featured-articles:is(.highlight-featured-articles *) {
        flex-direction: column;
        padding: 0 25px 25px 25px;
        
        .article-card-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 25px;
        }

        .article-card-collection-title {
            padding: 2px 12px;
            writing-mode: unset;
            transform: translateY(-50%);
            height:min-content;
        }
        border-radius: 15px;
    }
    
}

/* ---------------------------------- */
/* 4. pagination (load more articles) */
/* ---------------------------------- */
.pagination {
    width: 100%;
    display:flex;
    justify-content: center;
    padding-bottom: 15px;
    button {
        width: min-content;
    }
}