/* ------------------------------------ */
/* article-card appearance on home page */
/* ------------------------------------ */

/* divider between article-cards */
.article-card:not(:first-of-type) {
    padding-top: 9px;
}
.article-card:not(:last-of-type) {
    padding-bottom: 9px;
    border-bottom: 1px solid var(--border-color);
}

/* center the article-card lists on wider screens */ 
@media (min-width:760px) {
    .previous-articles {
        margin-right: 15vw ;
        margin-left: 15vw ;
    }
}

@media (min-width: 760px) {
    .main-article img {
        aspect-ratio: 4/3;
    }
    .main-article .article-card h1 {
        font-size: 2rem;
    }
    .featured-articles {
        border-left: 1px solid var(--border-color);
    }
}
@media (min-width: 1100px) {
    .main-article img {
        height: 500px;
    }
    .recent-articles {
        border-right: 1px solid var(--border-color);
        img {
            height: 125px;
        }
    }
    .main-article .article-card-title {
        font-size: 3rem;
    }
    .main-article .article-card-excerpt.short {
        display:none;
    }
    .main-article .article-card-excerpt.long {
        display:inline;
    }
}

/* home page spacing*/
.main-article,
.recent-articles,
.featured-articles,
.previous-articles ,
.related-articles {
    padding-left: var(--site-padding);
    padding-right: var(--site-padding);
    margin-top: var(--top-margin);
}

/* list titles */
.related-articles-title,
.recent-articles-title,
.featured-articles-title,
.previous-articles-title {
    border-bottom: 1px solid var(--border-color);
    font-size: 1.6rem;
    font-weight: 550;
    letter-spacing: .025em;
    margin-bottom: 13px;
}
/* ------------------------------------------ */
/* article-card appearance on tag/author page */
/* ------------------------------------------ */

.author-articles, 
.tagged-articles {
    /* bob article cards up and down on hover */
    .article-card {
        transition: opacity 1s cubic-bezier(.19,1,.22,1), translate 0.3s;
        padding:10px;
        border: 1px solid var(--border-color);
    }
    .article-card:hover {
        translate: 0 -10px;
    }
    img  {
        border-radius: 10px;
    }
}