/* ------------------------------------ */
/* icon buttons (search, dark-mode etc) */
/* ------------------------------------ */
.icon,
.icon-button {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--secondary-title-color);
    background-color: transparent;
    border: 0;
    outline: none;
    text-align:left;
    img,
    svg {
        width: 20px;
        height: 20px;
    }
}

.icon-button {
    cursor: pointer;
}
.icon-button:hover .icon {
    opacity: 0.8;
}
