/* ---------------------------------------------------------------- */
/* layout grids for home page, article (post), page and tag summary */
/* 1. home-page mobile view                                         */
/* 2. post/page mobile view                                         */
/* 3. tag and author collection - all screen sizes view             */
/* ---------------------------------------------------------------- */

/* 
 * in page/post views the table-of-contents and share-link icons are fixed to the bottom of the viewport 
 * unless the site is being viewed on a large screen and the user selected a sidebar layout.
*/
.site {
    display: grid;
}

/*
/* map html elements to the grid areas used in the grids below 
*/
.site-header { grid-area: SiteHeader; }
.hero-header { grid-area: HeroHeader; }
.sidebar-top .sidebar { grid-area: SidebarTop; }
.sidebar-bottom .sidebar { grid-area: SidebarBottom; }
.sidebar-left .sidebar { grid-area: SidebarTop; } /* default is mobile view - show sidebars at top when "left" or "right" option is selected */
.sidebar-right .sidebar { grid-area: SidebarTop; }
.featured-articles { grid-area: FeaturedArticles; }
.table-of-contents { grid-area: TableOfContents; }
.main-article { grid-area: MainArticle; }
.latest-articles { grid-area: LatestArticles; }
.recent-articles { grid-area: RecentArticles; }
.previous-articles { grid-area: PreviousArticles; }
.related-articles { grid-area:RelatedArticles}
.site-footer { grid-area: SiteFooter; }
.pagination { grid-area: Pagination; }
.tagged-articles { grid-area: TaggedArticles; }
.enrol { grid-area: Enrol;}
.comments { grid-area: Comments; }
.one-time-payment { grid-area: OneTimePaymentRequest; }
.article { grid-area: Article; }

/*---------------------------*/
/* 1. home-page mobile view  */
/*---------------------------*/
.site.home-template {
    grid-template-areas:
        "SiteHeader"
        "HeroHeader"
        "SidebarTop"
        "MainArticle"
        "FeaturedArticles"
        "LatestArticles"
        "Enrol"
        "RecentArticles"
        "PreviousArticles"
        "Pagination"
        "SidebarBottom"
        "SiteFooter";
}

@media (min-width: 760px) { 
    .home-template.home-page-list {
        grid-template-areas:
            "SiteHeader SiteHeader SiteHeader"
            "HeroHeader HeroHeader HeroHeader"
            "SidebarTop SidebarTop SidebarTop"
            "SidebarLeft MainArticle SidebarRight"
            "SidebarLeft FeaturedArticles SidebarRight"
            "SidebarLeft LatestArticles SidebarRight"
            "SidebarLeft Enrol SidebarRight"
            "SidebarLeft RecentArticles SidebarRight"
            "SidebarLeft PreviousArticles SidebarRight"
            "SidebarLeft Pagination SidebarRight"
            "SidebarBottom SidebarBottom SidebarBottom"
            "SiteFooter SiteFooter Sitefooter";
        &:is(.sidebar-top,.sidebar-bottom) {
            grid-template-columns: 0 auto auto 0;
        }
        .main-article {
            justify-self: center;
        }
    }
}
@media (min-width: 760px) { 
    .home-template.home-page-focus-left {
        grid-template-areas:
            "SiteHeader SiteHeader SiteHeader SiteHeader"
            "HeroHeader HeroHeader HeroHeader HeroHeader"
            "SidebarTop SidebarTop SidebarTop SidebarTop"
            "SidebarLeft MainArticle LatestArticles SidebarRight"
            "SidebarLeft RecentArticles RecentArticles SidebarRight"
            "SidebarLeft Enrol Enrol SidebarRight"
            "SidebarLeft PreviousArticles PreviousArticles SidebarRight"
            "SidebarLeft Pagination Pagination SidebarRight"
            "SidebarBottom SidebarBottom SidebarBottom SidebarBottom"
            "SiteFooter SiteFooter SiteFooter SiteFooter";
    }
    .home-template.home-page-focus-right {
        grid-template-areas:
            "SiteHeader SiteHeader SiteHeader SiteHeader"
            "HeroHeader HeroHeader HeroHeader HeroHeader"
            "SidebarTop SidebarTop SidebarTop SidebarTop"
            "SidebarLeft LatestArticles MainArticle SidebarRight"
            "SidebarLeft RecentArticles RecentArticles SidebarRight"
            "SidebarLeft Enrol Enrol SidebarRight"
            "SidebarLeft PreviousArticles PreviousArticles SidebarRight"
            "SidebarLeft Pagination Pagination SidebarRight"
            "SidebarBottom SidebarBottom SidebarBottom SidebarBottom"
            "SiteFooter SiteFooter SiteFooter SiteFooter";
    }
    .home-template.home-page-focus-left.show-featured-articles {
        grid-template-areas:
            "SiteHeader SiteHeader SiteHeader SiteHeader"
            "HeroHeader HeroHeader HeroHeader HeroHeader"
            "SidebarTop SidebarTop SidebarTop SidebarTop"
            "SidebarLeft MainArticle FeaturedArticles SidebarRight"
            "SidebarLeft LatestArticles LatestArticles SidebarRight"
            "SidebarLeft Enrol Enrol SidebarRight"
            "SidebarLeft RecentArticles RecentArticles SidebarRight"
            "SidebarLeft PreviousArticles PreviousArticles SidebarRight"
            "SidebarLeft Pagination Pagination SidebarRight"
            "SidebarBottom SidebarBottom SidebarBottom SidebarBottom"
            "SiteFooter SiteFooter SiteFooter SiteFooter";
    }
    .home-template.home-page-focus-right.show-featured-articles {
        grid-template-areas:
            "SiteHeader SiteHeader SiteHeader SiteHeader"
            "HeroHeader HeroHeader HeroHeader HeroHeader"
            "SidebarTop SidebarTop SidebarTop SidebarTop"
            "SidebarLeft FeaturedArticles MainArticle SidebarRight"
            "SidebarLeft LatestArticles LatestArticles SidebarRight"
            "SidebarLeft Enrol Enrol SidebarRight"
            "SidebarLeft RecentArticles RecentArticles SidebarRight"
            "SidebarLeft PreviousArticles PreviousArticles SidebarRight"
            "SidebarLeft Pagination Pagination SidebarRight"
            "SidebarBottom SidebarBottom SidebarBottom SidebarBottom"
            "SiteFooter SiteFooter SiteFooter SiteFooter";
    }
    .home-template .main-article {
        width: 77vw;
    }
    .home-template:is(.sidebar-left,.sidebar-right) .main-article {
        width: 50vw;
    }
    .home-template.sidebar-left {
        grid-template-columns: auto auto auto 0;
    }
    .home-template.sidebar-right {
        grid-template-columns: 0 auto auto auto;
    }
    .home-template:is(.sidebar-top,.sidebar-bottom) {
        grid-template-columns: 0 auto auto 0;
    }
}
/*--------------------------*/
/* 2. post/page mobile view */
/*--------------------------*/
.site.post-template, .site.page-template {
    grid-template-areas:
    "SiteHeader"
    "HeroHeader"
    "SidebarTop"
    "Article"
    "OneTimePaymentRequest"
    "Comments"
    "Enrol"
    "RelatedArticles"
    "Pagination"
    "SiteFooter"
    "SidebarBottom";
}
@media (min-width: 760px) { 
    /* page & post view tablet with sidebar */
    .sidebar-left .sidebar { grid-area: SidebarLeft; } /* default mobile view has sidebars at top when "left" or "right" option is selected */
    .sidebar-right .sidebar { grid-area: SidebarRight; }

    .todopage-template , .post-template {
        &.post-toc-full {
            grid-template-columns: var(--max-content-width) auto; 
            grid-template-areas:
                "SiteHeader SiteHeader"
                "HeroHeader HeroHeader"
                "SidebarTop SidebarTop"
                "Article TableOfContents"
                "OneTimePaymentRequest TableOfContents"
                "Comments TableOfContents"
                "Enrol TableOfContents"
                "RelatedArticles TableOfContents"
                "Pagination TableOfContents"
                "SiteFooter SiteFooter"
                "SidebarBottom SidebarBottom";
        }
    }
}
@media (min-width: 760px) { 
    /* page and post layout with sidebar */
    .site.page-template, .site.post-template {
        grid-template-columns: auto var(--max-content-width) auto auto;
        grid-template-areas:
            "SiteHeader SiteHeader SiteHeader SiteHeader"
            "HeroHeader HeroHeader HeroHeader HeroHeader"
            "SidebarTop SidebarTop SidebarTop SidebarTop"
            "SidebarLeft Article TableOfContents SidebarRight"
            "SidebarLeft OneTimePaymentRequest TableOfContents SidebarRight"
            "SidebarLeft Comments TableOfContents SidebarRight"
            "SidebarLeft Enrol TableOfContents SidebarRight"
            "SidebarLeft RelatedArticles TableOfContents SidebarRight"
            "SidebarLeft Pagination TableOfContents SidebarRight"
            "SidebarBottom SidebarBottom SidebarBottom SidebarBottom"
            "SiteFooter SiteFooter SiteFooter SiteFooter";

        &.sidebar-left .sidebar { grid-area: SidebarLeft; }
        &.sidebar-right .sidebar { grid-area: SidebarRight; }

        &.post-toc-minified.sidebar-left {
            grid-template-columns: 2.5fr 7.5fr 0 0;
        }
        &.post-toc-minified.sidebar-right {
            grid-template-columns: 0 7.5fr 0 25fr;
        }
        &.post-toc-full.sidebar-right {
            grid-template-columns: 0 7.0fr 1.0fr 2.0fr;
            &:has(.toc:empty) {
                grid-template-columns: 0 4.0fr 0 1.0fr;
            }
        }
        &.post-toc-full.sidebar-left {
            grid-template-columns: 1.0fr 7.0fr 2.0fr 0;
            &:has(.toc:empty) {
                grid-template-columns: 1.0fr 4.0fr 0 0;
            }
        }
        &.post-toc-full:is(.sidebar-top,.sidebar-bottom) {
            grid-template-columns: 0 7.7fr 3.3fr 0;
            &:has(.toc:empty) {
                grid-template-columns: 0 1fr 0 0;
            }
        }
    }
    .home-template.home-page-list {
        max-width: var(--max-container-width);
    }
}
/* make a bit more space for the sidebars */
@media (min-width: 1300px) {
    &.post-toc-full.sidebar-right {
        grid-template-columns: 0 6.0fr 2.0fr 2.0fr;
    }
    &.post-toc-full.sidebar-left {
        grid-template-columns: 2.0fr 6.0fr 2.0fr 0;
    }
}
/*------------------------------------------------------*/
/* 3. tag and author collection - all screen sizes view */
/*------------------------------------------------------*/
.author-template,
.tag-template {
    grid-column: content;
    grid-template-areas:
        "SiteHeader"
        "HeroHeader"
        "TaggedArticles"
        "Pagination"
        "SiteFooter";
}
