/* ---------------------------------------------------------------- */
/* layout grids for home page, article (post), page and tag summary */
/* ---------------------------------------------------------------- */

/* map html elements to the grid areas used in the grids below */
.site-header { grid-area: SiteHeader; }
.hero-header { grid-area: HeroHeader; }
.site-footer { grid-area: SiteFooter; }

.home-template .site { /* these components are only shown in the home-page layout */
    .main-article { grid-area: MainArticle; }
    .featured-articles { grid-area: FeaturedArticles; }
    .recent-articles { grid-area: RecentArticles; }
    .previous-articles { grid-area: PreviousArticles; }
    .pagination { grid-area: Pagination; }
}

.post-template .site, .page-template .site { /* post/page only */
    .article-content { grid-area: ArticleContent; }
    .table-of-contents { grid-area: TableOfContents; }
    .social-links { grid-area: SocialLinks; } 
}

.tag-template .site { /* tag view only */
    .tagged-articles { grid-area: TaggedArticles; }
    .pagination { grid-area: Pagination; }
}

/*------------------------*/
/* home-page mobile view  */
/*------------------------*/
.home-template .site {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto var(--hero-header-height) auto auto auto auto auto auto;
    grid-template-areas:
        "SiteHeader"
        "HeroHeader"
        "MainArticle"
        "RecentArticles"
        "FeaturedArticles"
        "PreviousArticles"
        "Pagination"
        "SiteFooter";
}
/*------------------------*/
/* post/page mobile view */
/*------------------------*/
.post-template .site, .page-template .site {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto var(--hero-header-height) auto auto auto auto;
    grid-template-areas:
        "SiteHeader"
        "HeroHeader"
        "TableOfContents"
        "ArticleContent"
        "SiteFooter"
        "SocialLinks";
}

/*------------------------*/
/* tag collection         */ 
/* all screen sizes view  */
/*------------------------*/
.tag-template .site {
    display:grid;
    grid-column: content;
    grid-template-columns: 1fr; 
    grid-template-rows: auto var(--hero-header-height) auto auto;
    grid-template-areas:
        "SiteHeader" 
        "HeroHeader"
        "TaggedArticles"
        "Pagination"
        "SiteFooter";
}

/* tagged article layout (flexible grid of articles) */
.tag-template .site .tagged-articles{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(248px,1fr));
    overflow: hidden;
    gap: 47px;
    margin:47px;
}
.tag-template .site .tagged-articles img {
    max-height: 700px;
    aspect-ratio: 4/3;
}

.recent-articles,
.previous-articles-list {
    display:flex;
    flex-direction: column;
    Xgap: 40px;
}
/* -------------- */
/* tablet screens */
/* -------------- */
@media (min-width: 760px) { 
    /* home page tablet */
    .home-template .site {
        grid-template-columns: 1.5fr 1fr; 
        grid-template-rows: auto var(--hero-header-height) auto auto auto auto auto auto;
        grid-template-areas:
            "SiteHeader SiteHeader"
            "HeroHeader HeroHeader"
            "MainArticle FeaturedArticles"
            "RecentArticles RecentArticles"
            "PreviousArticles PreviousArticles"
            "Pagination Pagination"
            "SiteFooter SiteFooter";
    }

    /* page & post view tablet  - todo menu and social position */
    .page-template .site , .post-template .site {
        grid-template-columns: 6fr 1fr; 
        grid-template-rows: auto var(--hero-header-height) auto auto auto auto;
        grid-template-areas:
            "SiteHeader SiteHeader"
            "HeroHeader HeroHeader"
            "TableOfContents TableOfContents"
            "ArticleContent SocialLinks"
            "Pagination Pagination"
            "SiteFooter SiteFooter";
    }
    .page-template .site aticle-content, 
    .post-template .site .article-content {
        max-width: var(--max-content-width)
    }
    .main-article .article-card img {
        aspect-ratio: 4/3;
    }
}
/* ------------- */
/* large screens */
/* ------------- */
@media (min-width: 1100px) { 
    /* home page layout */
    .home-template .site {
        grid-template-columns: 1.5fr 1fr 1fr; 
        grid-template-rows: auto var(--hero-header-height) auto auto auto auto;
        grid-template-areas:
            "SiteHeader SiteHeader SiteHeader"
            "HeroHeader HeroHeader HeroHeader"
            "MainArticle RecentArticles FeaturedArticles"
            "PreviousArticles PreviousArticles PreviousArticles"
            "Pagination Pagination Pagination"
            "SiteFooter SiteFooter SiteFooter";
    }
    /* page and post layout */
    .page-template .site , .post-template .site {
        grid-template-columns: 1fr 2.5fr 1fr; 
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "SiteHeader SiteHeader SiteHeader"
            "HeroHeader HeroHeader HeroHeader"
            "TableOfContents ArticleContent SocialLinks"
            "SiteFooter SiteFooter SiteFooter";
    }
    
    .recent-articles {
        Xgap:20px;
    }
}

/* ------------------------------------------------------------------------------ */
/* container settings are used to control the size of elements in the grids above */
/* CSS container queries allow the application of styles based on the container   */
/* size where media queries target the viewport size                              */
/* ------------------------------------------------------------------------------ */

.featured-articles .article-card {
    display:grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows: auto auto ;
    grid-template-areas:
        "Text Image"
        "Metadata Image"
}
.featured-articles .article-card-image {
    grid-area: Image;
}
.featured-articles .article-card-text {
    grid-area: Text;
    align-self: end;
}
.featured-articles .article-card-metadata {
    grid-area: Metadata;
}
.featured-articles .article-card-excerpt {
    display:none;
}
/* debug -todo */
.site .hero-header .hero-image {
    display:none;
}
.main-article {
    container-type: inline-size;
    container-name: MainArticleContainer
}
@container MainArticleContainer (width > 560px) {
    img{
       max-width: 900px;
    }
}
@media (min-width: 760px) {
    .previous-articles .article-card-image,
    .recent-articles .article-card-image {
        grid-area: Image;
        display: flex;
    }
    .previous-articles .article-card-text,
    .recent-articles .article-card-text {
        grid-area: Text;
        align-self: end;
    }
    .previous-articles .article-card-metadata,
    .recent-articles .article-card-metadata {
        grid-area: Metadata;
    }
    .previous-articles .article-card,
    .recent-articles .article-card {
        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "Image Text RightSidebar"
            "Image Metadata RightSidebar";
    }
    .previous-articles .article-card-excerpt.short {
        display:block;
    }
}
/*todo*/
@media (min-width: 1110px) {
    .recent-articles .article-card {
        display: block; 
        .article-card-excerpt {
            display:none;
        }
    }
        
    .recent-articles {
        container-type: inline-size;
        container-name: RecentArticlesContainer
    }
    
    @container RecentArticlesContainer (width > 258px) {
        img {
        max-height: 130px;
        }
    }
    .previous-articles .article-card img {
        max-height:180px;
    }
}