/* ---------------------------------------------------------------- */
/* layout grids for home page, article (post), page and tag summary */
/* 1. home-page mobile view                                         */
/* 2. post/page mobile view                                         */
/* 3. tag and author collection - all screen sizes view             */
/* 4. z-index                                                       */
/* ---------------------------------------------------------------- */

/* 
 * in page/post views the table-of-contents and share-link icons are fixed to the bottom of the viewport 
 * unless the site is being viewed on a large screen and the user selected a sidebar layout.
*/
.site {
    display: grid;
}

/*
/* map html elements to the grid areas used in the grids below 
*/
.site-header { grid-area: SiteHeader; }
.hero-header { grid-area: HeroHeader; }
.sidebar-top .sidebar { grid-area: SidebarTop; }
.sidebar-bottom .sidebar { grid-area: SidebarBottom; }
.sidebar-left .sidebar { grid-area: SidebarTop; } /* default is mobile view - show sidebars at top when "left" or "right" option is selected */
.sidebar-right .sidebar { grid-area: SidebarTop; }
.featured-articles { grid-area: FeaturedArticles; }
.table-of-contents { grid-area: TableOfContents; }
.main-article { grid-area: MainArticle; }
.latest-articles { grid-area: LatestArticles; }
.recent-articles { grid-area: RecentArticles; }
.related-articles { grid-area:RelatedArticles}
.site-footer { grid-area: SiteFooter; }
.tagged-articles { grid-area: TaggedArticles; }
.author-articles { grid-area: TaggedArticles; }
.enrol { grid-area: Enrol;}
.comments { grid-area: Comments; }
.one-time-payment { grid-area: OneTimePaymentRequest; }
.article { grid-area: Article; }

/*---------------------------*/
/* 1. home-page mobile view  */
/*---------------------------*/
.site.home-template:not(.highlight-featured-articles) {
    .featured-articles {
        display: none;
    }
}
.site.home-template {
    grid-template-areas:
        "SiteHeader"
        "HeroHeader"
        "SidebarTop"
        "MainArticle"
        "FeaturedArticles"
        "LatestArticles"
        "Enrol"
        "RecentArticles"
        "SidebarBottom"
        "SiteFooter";
}

@media (min-width: 1100px) { 
    .home-template {
        &.home-page-list {
            grid-template-areas:
                "SiteHeader SiteHeader SiteHeader"
                "HeroHeader HeroHeader HeroHeader"
                "SidebarTop SidebarTop SidebarTop"
                "SidebarLeft MainArticle SidebarRight"
                "SidebarLeft FeaturedArticles SidebarRight"
                "SidebarLeft LatestArticles SidebarRight"
                "SidebarLeft Enrol SidebarRight"
                "SidebarLeft RecentArticles SidebarRight"
                "SidebarBottom SidebarBottom SidebarBottom"
                "SiteFooter SiteFooter Sitefooter";
            .main-article {
                justify-self: center;
            }
            place-items:  center;
        }
        &.home-page-focus-left {
            grid-template-areas:
                "SiteHeader SiteHeader SiteHeader SiteHeader"
                "HeroHeader HeroHeader HeroHeader HeroHeader"
                "SidebarTop SidebarTop SidebarTop SidebarTop"
                "SidebarLeft MainArticle LatestArticles SidebarRight"
                "SidebarLeft RecentArticles RecentArticles SidebarRight"
                "SidebarLeft Enrol Enrol SidebarRight"
                "SidebarBottom SidebarBottom SidebarBottom SidebarBottom"
                "SiteFooter SiteFooter SiteFooter SiteFooter";
            grid-template-columns: auto 60vw auto auto ;
            place-items:  center;
        }
        &.home-page-focus-right {
            grid-template-areas:
                "SiteHeader SiteHeader SiteHeader SiteHeader"
                "HeroHeader HeroHeader HeroHeader HeroHeader"
                "SidebarTop SidebarTop SidebarTop SidebarTop"
                "SidebarLeft LatestArticles MainArticle SidebarRight"
                "SidebarLeft RecentArticles RecentArticles SidebarRight"
                "SidebarLeft Enrol Enrol SidebarRight"
                "SidebarBottom SidebarBottom SidebarBottom SidebarBottom"
                "SiteFooter SiteFooter SiteFooter SiteFooter";
            grid-template-columns: auto auto 60vw auto ;
            place-items:  center;
        }
        &.home-page-focus-left.highlight-featured-articles {
            grid-template-areas:
                "SiteHeader SiteHeader SiteHeader SiteHeader"
                "HeroHeader HeroHeader HeroHeader HeroHeader"
                "SidebarTop SidebarTop SidebarTop SidebarTop"
                "SidebarLeft MainArticle FeaturedArticles SidebarRight"
                "SidebarLeft LatestArticles LatestArticles SidebarRight"
                "SidebarLeft Enrol Enrol SidebarRight"
                "SidebarLeft RecentArticles RecentArticles SidebarRight"
                "SidebarBottom SidebarBottom SidebarBottom SidebarBottom"
                "SiteFooter SiteFooter SiteFooter SiteFooter";
            grid-template-columns: auto 60vw auto auto ;
            place-items:  center;
        }
        &.home-page-focus-right.highlight-featured-articles {
            grid-template-areas:
                "SiteHeader SiteHeader SiteHeader SiteHeader"
                "HeroHeader HeroHeader HeroHeader HeroHeader"
                "SidebarTop SidebarTop SidebarTop SidebarTop"
                "SidebarLeft FeaturedArticles MainArticle SidebarRight"
                "SidebarLeft LatestArticles LatestArticles SidebarRight"
                "SidebarLeft Enrol Enrol SidebarRight"
                "SidebarLeft RecentArticles RecentArticles SidebarRight"
                "SidebarBottom SidebarBottom SidebarBottom SidebarBottom"
                "SiteFooter SiteFooter SiteFooter SiteFooter";
            grid-template-columns: auto auto 60vw auto ;
            place-items:  center;
        }
    }
}
/*--------------------------*/
/* 2. post/page mobile view */
/*--------------------------*/
.site:is(.post-template, .page-template) {
    grid-template-areas:
    "SiteHeader"
    "HeroHeader"
    "SidebarTop"
    "Article"
    "OneTimePaymentRequest"
    "Comments"
    "Enrol"
    "RelatedArticles"
    "SidebarBottom"
    "SiteFooter";
    grid-template-columns: 100vw; /* note that prisms seems to need an explicit column size to scroll within the container */
}

@media (min-width: 760px) { 
    .site:is(.post-template, .page-template) {
      grid-template-areas:
            "SiteHeader SiteHeader SiteHeader SiteHeader"
            "HeroHeader HeroHeader HeroHeader HeroHeader"
            "SidebarTop SidebarTop SidebarTop SidebarTop"
            "SidebarLeft Article TableOfContents SidebarRight"
            "SidebarLeft OneTimePaymentRequest TableOfContents SidebarRight"
            "SidebarLeft Comments TableOfContents SidebarRight"
            "SidebarLeft Enrol TableOfContents SidebarRight"
            "SidebarLeft RelatedArticles TableOfContents SidebarRight"
            "SidebarBottom SidebarBottom SidebarBottom SidebarBottom"
            "SiteFooter SiteFooter SiteFooter SiteFooter";

        grid-template-columns: 1fr 3fr 1fr 1fr;
        &:is(.sidebar-none) {
            grid-template-columns: 0 3fr 1fr 0;
        }
        &:is(.sidebar-none,.post-toc-none) {
            grid-template-columns: 0 100% 0 0;
        }
        /* 
        * toc can now be shown in the column on the right of the article  
        * where is used below so that these settings can be overridden at larger screen sizes
        */

        &:is(.sidebar-top, .sidebar-bottom) {
            grid-template-columns: 0 minmax(0, min(75%, calc(var(--max-content-width) * 1.4))) 1fr 0;
            &.post-toc-none,
            &:where(.post-toc-minified),
            &:has(.toc:empty) {
                grid-template-columns: 0 100% 0 0;
            }
        }
        /* cenralize the excerpt/cta content when the user is accessing a post only avaliable with a tier upgrade */
        &:has(.gh-post-upgrade-cta) {
            grid-template-columns: 1fr 3fr 0 1fr!important;
        }
    }
}

@media (min-width: 1300px) { 
    /* sidebar can now be shown on left or right */
    .sidebar-left .sidebar { grid-area: SidebarLeft; }
    .sidebar-right .sidebar { grid-area: SidebarRight; }

    .site:is(.post-template, .page-template):is(.sidebar-top, .sidebar-bottom) {
        grid-template-columns: 0.33fr minmax(0, min(66%, calc(var(--max-content-width) * 1.4))) 1fr 0;
        &.post-toc-none,
        &:is(.post-toc-minified),
        &:has(.toc:empty) {
            grid-template-columns: 0 100% 0 0;
        }
    }
    .site:is(.post-template, .page-template):is(.sidebar-right, .sidebar-left) {
        &.sidebar-left { 
            grid-template-columns: 1fr minmax(0, min(66%, calc(var(--max-content-width) * 1.4))) 1fr 0;
        }
        &.sidebar-right { 
            grid-template-columns: 0 minmax(0, min(66%, calc(var(--max-content-width) * 1.4))) 1fr fr;
        }
        &.sidebar-left .sidebar {
            justify-self: end;
            margin-left: auto;
        }
        &.post-toc-none,
        &:is(.post-toc-minified),
        &:has(.toc:empty) {
            grid-template-columns: 1fr minmax(0, min(66%, calc(var(--max-content-width) * 1.4))) 0 1fr;
        }
    }
}

/*------------------------------------------------------*/
/* 3. tag and author collection - all screen sizes view */
/*------------------------------------------------------*/
.author-template,
.tag-template {
    grid-template-areas:
        "SiteHeader"
        "HeroHeader"
        "SidebarTop"
        "TaggedArticles"
        "SidebarBottom"
        "SiteFooter";
}
@media (min-width: 760px) {
    .author-template,
    .tag-template {
        grid-template-areas:
            "SiteHeader SiteHeader SiteHeader"
            "HeroHeader HeroHeader HeroHeader"
            "SidebarTop SidebarTop SidebarTop"
            "SidebarLeft TaggedArticles SidebarRight"
            "SidebarBottom SidebarBottom SidebarBottom"
            "SiteFooter SiteFooter SidebarFooter";
    }
}

/*---------------------------*/
/* 4. z-index settings       */
/*---------------------------*/
.demo-options {
    z-index: 3;
}
.table-of-contents,
.site-header {
    z-index: 2;
}
.tag-card-name,
.sidebar,
.hero-header > :not(.hero-image),
.enrol > :not(.enrol-background),
.article-card-author-profile-images {
    z-index: 1;
}