
/* ------------------------------------------------------------ */
/* 1. main navigation                                           */
/* 2. internal tags, share links are secondary navigation items */
/* ------------------------------------------------------------ */

/* -------------------------------------- */
/* 1. main navigation                     */
/* -------------------------------------- */

.main-nav-button-container {
  display: flex;
  align-items: center;
}
/* default display for mobile devices (hamburger nav) */
.menu-links-container {
  display: grid;
  grid-template-areas:
    "MenuLinksHeader" 
    "MenuLinks";
  font-size: var(--small-font-size);
}
.submenu-links-container {
  display: grid;
  grid-template-areas:
    "SubmenuLinksHeader" 
    "SubmenuLinks";
}
.menu-links-header { grid-area: MenuLinksHeader }
.menu-links { grid-area: MenuLinks; }
.submenu-links-header { grid-area: SubmenuLinksHeader }
.submenu-links { grid-area: SubmenuLinks; }

.menu-links-container,
.submenu-links-container {
  display: flex;
  flex-direction: column;
  position:fixed;
  right:var(--edge-padding);
  top: calc(var(--site-header-height) + 5px);
  background-color: var(--secondary-background-color);
  border-radius: 10px;
  border: 0.25px solid var(--border-color);
  overflow:hidden; /* prevent borders overunning rounded corners */
  min-width: min-content;
  width: fit-content;
  max-width: 300px;
}
.menu-links,
.submenu-links {
  padding:6px 12px 6px 12px;
  display:flex;
  flex-direction: column;
  gap: 12px;
}
.menu-links-title,
.submenu-links-title {
  padding:6px 12px 6px 12px;
  border-bottom: 0.25px solid var(--border-color);
  color: var(--banner-title-color);
  font-weight:800;
}

/* toggle menus */
.menu-links-container,
.submenu-links-container {
  display:none;
}
.menu-links-container.menu-links-active {
  display: flex;
}

/* don't show the main nav window when a submenu is open */
.menu-links-container.menu-links-active:has(.submenu-links-active) {
   visibility: hidden;
}
.submenu-links-container.submenu-links-active {
  visibility: visible;
  display: flex;
}

/* hide nav items until dropdown-nav.js confirms it has run (to prevent the screen flashing) */
.menu-links-container:not(.menu-links-ready){
  opacity:0;
}
.menu-links-container.menu-links-ready {
  opacity:1;
}

/* larger screens - show nav in menu bar (assuming expanded nav option has been selected) */
@media (min-width: 760px) {
  .expanded-nav {
    .menu-link-item {
      white-space: nowrap;
    }
    .menu-links-container {
      overflow: visible; /* if not set this prevents the submenu-links-container showing */
    }
    .menu-links-container {
      position:static;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 1.4rem;
      margin: 0 15px;
      max-width:unset;
    }
    .menu-links-header,
    .menu-links-toggle {
      display: none;
    }
    .menu-links {
      display: flex;
      flex: 1 1 auto;
      flex-wrap:wrap;
      flex-direction: row;
      justify-content: center;
      column-gap: 20px;
      row-gap:0px;
      padding-top: 1px;
      padding-bottom: 1px;

      .menu-link-item {
        position: relative;
        display: flex!important ; /* always show the menu-links in this view */
        border: unset;
        margin: 0;
        padding: 0;
      }
      .submenu-links-container:not(.submenu-links-active) {
        display:none;
      }
      .menu-links-header {
        display:none;
      }
      
      .submenu-links-container {
        transform: translateX(50%);
        position:absolute;
        overflow: hidden;
        top: 40px;
      }
      .menu-link-item:has(sup) {
        line-height: 12px; /* fix misalignment caused by drop down nav symbol */
      }
    }
    /* animate hover */
    .menu-link-item::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 0.5px;
      background-color: var(--ghost-accent-color);
      width:0;
      transform: scaleX(0); /* Initially hidden */
      transition: transform 0.2s ease; 
    }
    .menu-link-item:hover::after {
      width:100%;
      transform: scaleX(1); 
    }
  }
}

/* ------------------------------------------------------------ */
/* 2. internal tags, share links are secondary navigation items */
/* ------------------------------------------------------------ */

.sidebar {
  min-width: var(--sidebar-width);
}

.sidebar-none .sidebar {
  display:none;
}
/* if there are standard internal tags, but no sidebar tags (prefixed by ##) we will end up with an empty ul elment.*/
.internal-tags:not(:has(.sidebar-link-item)) {
  display: none;
}
.internal-tags:not(:has(.sidebar-link-item)) + hr {
  display: none;
}

/*hide the icons initially - navigation.js will resize them and then remove the 'hidden' class so they are visible */
.internal-tags.hidden {
    visibility:hidden;
}

/* this is needed to make the <object> svg clickable */
.internal-tags .sidebar-link-icon {
    pointer-events: none;
}

/* show the internal tag icons centrally */
.internal-tags .sidebar-link-item {
  display:flex;
  align-items: center;
  a {
      height:20px;
  }
}
.sidebar-link-item object {
    height: 20px;
    width: 20px;
}
.sidebar-header {
  display: flex;
  align-items: center;
}
/* make the two character secondary link indicators look like an icon */
.secondary-links  .sidebar-link-icon {
    display: inline-block;
    width: 23px;          
    height: 23px;        
    line-height: 20px; 
    border-radius: 50%; 
    border: solid 2px var(--text-color);
    color: var(--text-color);
    text-align: center; 
    font-size: 1rem;
}
.sidebar-header-description,
.sidebar-link-description {
  font-size: var(--small-font-size);
}

.sidebar-nav {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
    flex-wrap:wrap;
}
.sidebar-bottom .sidebar-nav {
    flex-direction: row;
    padding-top: 20px;
}
.sidebar-nav { /*left right sidebars by default at top of small screens */
  flex-direction: row;
  padding-bottom: 30px;
  padding-top: 30px;
}
.site:is(.sidebar-left,.sidebar-right,.sidebar-top) {
  .hero-header {
    margin-bottom: 0;
  }
}
.internal-tags {
    display: flex;
    column-gap: 12px;
    padding-left:0;
    .sidebar-link-item {
        position:relative;
    }
}

/* hide descriptions and link items when showing the (default) short sidebar */
.sidebar-show-descriptions-button,
.sidebar-hide-descriptions-button {
    display: none;
}
:not(.internal-tags).sidebar-links {
    display:none;
}
.internal-tags .sidebar-link-description {
    display: none;

}
/* show the descriptions below the icon on hover */
.site:not(.sidebar-left):not(.sidebar-right) .internal-tags {
  .sidebar-link-item:hover {
      .sidebar-link-description {
          display:inline-flex;
          position: absolute;
          bottom: -30px;
          left: 50%;
          transform: translateX(-50%); 
          white-space: nowrap;
      }
  }
}

/* popup menus for sidebar links */
.sidebar-links-container {
    position:relative;
}
.sidebar .display-item-details {
    .sidebar-links {
        top:150%;
        left: -70px; 
        width: max-content;
        max-width: 250px;
        background-color: var(--secondary-background-color);
        position: absolute;
        flex-direction: column;
        display: inline-flex;
        padding:12px;
        gap: 12px;
        border-radius: 10px;
    }

    .sidebar-link-item button,
    .sidebar-link-item a {
        display:flex;
        column-gap: 24px;
        align-items: center;
    }
}

/* show popup menu above the sidebar when the sidebar is positioned at the bottom of the screen */
.sidebar-bottom {
  padding-top:30px;
  .display-item-details .sidebar-links {
    bottom:130%;
    top:unset;
  }
}

  /*.site:is(.home-template,.post-template,.page-template):is(.sidebar-left,.sidebar-right) { */
@media (min-width: 1300px) {
  .site:is(.sidebar-left,.sidebar-right) {
    .hero-header {
      margin-bottom: 60px;
    }
    .sidebar-header {
      margin-bottom: 10px;
    }
    .sidebar-nav {
      flex-direction: column;
      align-content: flex-start;
    }
    .sidebar-nav {
        display: flex;
        row-gap: 15px;
        position: sticky;
        top: var(--site-header-height);
    }
    .sidebar-links {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        padding:0;
        .sidebar-link-item button,
        .sidebar-link-item a {
            display:flex;
            flex-direction: row;
            column-gap: 12px;
            align-items: center;
            font-size: 1.4rem;
            color: var(--icon-color);
        }
      }

      /* toggle sidebar descriptions */
      .sidebar.display-item-details {
        .sidebar-show-descriptions-button {
          display: none;
        }
        .sidebar-link-description,
        .sidebar-hide-descriptions-button {
          display: inline-flex;
        }
      }

      .sidebar:not(.display-item-details) {
        hr,
        .sidebar-header,
        .sidebar-link-description,
        .sidebar-hide-descriptions-button {
            display: none;
        }
        .sidebar-show-descriptions-button {
          display: inline-flex;
        }
        .sidebar-link-item:hover {
          .sidebar-link-description {
            display: inline-flex;
          }
        }
      }
      .sidebar hr {
        width:20px;
      }
      .sidebar-link-item {
        opacity: 50%;
      }
      .sidebar-link-item:hover {
          opacity: 1; 
      }
      .share-links-button:hover,
      .secondary-links-button:hover {
          cursor: default; /* Prevent pointer from changing */
      }
  }
}

.sidebar .tooltip {
    padding: 5px 10px 5px 10px;
    border: 1px solid var(--border-color);
    width:20px;
    border-radius: 4px;
    font-size: 1.2rem;
}

