/* -------------------------------------------------------------------- */
/* share links are shown at the bottom of the screen for small screens */
/* for larger screens they are shown on the right hand side             */
/* -------------------------------------------------------------------- */

.sidebar {
    position: sticky;
    width:100%;
    bottom: 0;
    right: 0;
    background-color: var(--background-color);
    padding:5px var(--site-edge-padding) 5px 0;
    z-index: 4;
}

/* share links are only shown when the share button is clicked */
.sidebar .share-links {
    display:none
}
.sidebar.share-links-expanded .share-links {
    display:inline-flex;
}
.sidebar-nav {
    display:flex;
    flex-direction: row;
    justify-content: right;
    gap: 7px;
}
.secondary-nav-header {
    display: none;
}
.secondary-nav-items {
    display: flex;
    flex-direction: row;
    gap: 7px;
    flex-wrap: wrap;
    justify-content: center;
}
.share-links {
    display: flex;
    flex-direction: row;
    gap: 7px;
    li {
        display: flex;
        align-content: center;
    }
}
/* larger screens */
@media (min-width:760px) {
    .sidebar.sidebar-layout { 
        inset: auto;
        padding-right: var(--edge-padding);
        padding-left: 5vw;
        position: relative;
        .sidebar-nav {
            width:max-content;
            flex-direction: column;
            position: sticky;
            top: var(--site-header-height);
        }
        .share-links,
        .secondary-nav-items {
            flex-direction: column;
            align-items: center;
            padding-left:0;
        }
    }
}
#copy-link .tooltip {
    position: absolute;
    bottom: 30px; 
    transform: translateX(-50%);
    padding: 5px 10px 5px 10px;
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    background-color: var(--background-color);
    color: var(-color);
    text-align: center;
    border-radius: 4px;
    z-index: 1000; 
    white-space: nowrap;
    font-size: 1.2rem;
    @media (min-width: 760px) {
        top:215px;
        right:15px;
        border:unset;
    }
}