/*------------------------------------- */
/* set the styles used accross the site */
/* 1. default text styles for the site  */
/* 2. photoswipe lightbox adjustments   */
/* 3. site header                       */
/* 4. menu                              */
/* 5. site footer                       */
/* 6. Ghost cards                       */
/*------------------------------------- */

/* ------------------------------------*/
/* 1. default text styles for the site */
/* ------------------------------------*/

/*
 * font sizes are expressed as rems (the pixel size are calculated relative to browser root font size, which can be set by the user)
 * by default 1rem = 16px.  
 * this statement simplifies the sums:
 * 0.625 * 16px = 10 (i.e. 1rem = 10px)
 */
html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-sans);
    font-size: var(--content-font-size);
    letter-spacing: -0.018em;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
    margin:0;
    scroll-margin-top: var(--nav-bar-height);
}

img {
    height: auto;
}

/* hyperlinks in asides default to no text decoration/color - see hero.css, article.css etc for hyperlink styles elsewhere */
a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

/* default margins and padding */
/* todo home page spacing*/
.main-article,
.recent-articles,
.featured-articles,
.previous-articles ,
.related-articles {
    padding-left: var(--site-padding);
    padding-right: var(--site-padding);
    margin-top: var(--top-margin);
}
/* list titles */
.site {
  .related-articles-title,
  .recent-articles-title,
  .featured-articles-title,
  .previous-articles-title {
      border-bottom: 1px solid var(--border-color);
      font-size: 1.6rem;
      font-weight: 550;
      letter-spacing: .025em;
      margin-bottom: 13px;
  }
}

@media (min-width: 1100px) {
  .article-content {
    padding-left: 0px;
  }
}

@media (min-width: 760px) {
  .social-links,
  .article-content ,
  .table-of-contents {
    margin-top: calc(var(--top-margin)*1.5);
  }

}

iframe {
  display: block;
  width: 100%;
  overflow: hidden;
  border: 0;
}

/* ---------------------------------- */
/* 2. photoswipe lightbox adjustments */
/* ---------------------------------- */

/* all images can be opened by photoswipe - show pointer */
.kg-image, .kg-gallery-image {
  cursor: pointer;
}
.pswp__counter {
    height: 20px;
    line-height: 20px;
}
.pswp__button--arrow .pswp__icn ,
.pswp__button--close .pswp__icn {
    width: 20px;
    height: 20px;
}

.pswp__button--arrow > svg {
    color: var(--text-color);
    fill: var(--background-color);
    stroke: var(--text-color);
    stroke-width: 1px;
}

/* -------------------------------------- */
/* 3. site header bar                     */
/* -------------------------------------- */
.site-header {
  background-color: var(--background-color);
  border-bottom: 0.25px solid var(--theme-accent-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-left:10px;
  padding-right:10px;

}
nav{
  background-color: var(--background-color);
  display: flex;
  height:var(--nav-bar-height); 
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.search, .logo, #dark-mode-toggle, .open-menu, .close-menu {
  flex-basis: 30px;
  flex-shrink: 0;
}

.close-menu svg,
.open-menu svg{
  height:20px;
  width:20px;
}

/* -------------------------------------- */
/* 4. menu                                */
/* -------------------------------------- */
/*

/* mobile view */
.menu {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  width: 100%;
  display:flex;
  flex-direction: column;
}

/* default display for mobile devices - hide menu and show a hamburger menu instead */
.item {
  display: none;
}
.logo {
  margin-right: auto;
}
.logo img {
  width:20px;
}
.open-menu {
  display: block;
}
.close-menu {
  display: none;
}
.menu-open #dark-mode-toggle,
.menu-open .search ,
.menu-open .open-menu {
  display: none;
}
.menu-open .close-menu {
  margin-left: auto;
  display: block;
}

.menu, .submenu {
  list-style: none;
}

@keyframes showMenu {
  from {opacity: 0;}
  to {opacity: 1;}
}
.menu-open .item {
  animation: showMenu 450ms ease-in-out both;
  border-bottom: 1px solid var(--border-color);
  display: block;
  padding-bottom: 1.8rem;
  padding-left: 0.75rem;
  padding-top: 0.8rem;
}
.subitem {
  padding-top: 5px;
}

.site.menu-open .site-content {
  filter: blur(5px);
}

/* hide submenu when not active */
.submenu {
  display: none;
}
.submenu-open .submenu {
  padding-left:25px;
  display: block;
}

/* larger screens - show menu in nav bar*/
@media (min-width: 760px) {

  .menu {
    position:unset;
    display:flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    flex-wrap: wrap;
  }
  /* hide menu items until dropdown-menu.js confirms it has run (to prevent the screen flashing) */
  .menu:not(.menu-ready){
    opacity:0;
  }
  .menu.menu-ready {
    opacity:1;
  }

@keyframes showSubmenu {
  from {opacity: 0;}
  to {opacity: 1;}
}
.submenu-open .submenu {
  animation: showSubmenu 300ms ease-in-out both;
  z-index: 3;
  display: block;
  position: absolute;
  left: 0;
  background-color: var(--background-color);
  border-style: solid;
  border-color: var(--secondary-background-color);
  border-radius: 2%;
  box-shadow: 0 1px 3px 0 rgba(76, 137, 251, 0.15), 0 1px 5px 0 rgba(76, 137, 251, 0.10);
  padding-left: 0;
}

.item {
  display: block;
  position: relative;
  width: auto;
}
.item a {
  padding: 0px 10px 0px 10px;
}
.menu .item a:hover {
  border-radius: 0.375rem;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  opacity: 1;
}
.subitem {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.50rem;
  padding-right: 1.50rem;
  width: 100%;
  white-space: nowrap;
}

.close-menu, .open-menu{
  display: none ;
}

}
/* -------------------------------------- */
/* 5. site footer (privacy and copyright) */
/* -------------------------------------- */

.site-footer {
    line-height: 2.1rem;
    font-weight: 600;
    font-size:1.2rem;
    color: var(--secondary-text-color);
    border-top: 0.25px solid var(--theme-accent-color);
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.site-footer a {
  color: var(--secondary-text-color);
}
.site-footer a:hover {
    text-decoration: underline;
    text-decoration-color: var(--link-color);
    color: var(--link-color);
    opacity: 0.8;
}
/* -------------------------------------- */
/* 6. Ghost cards                         */
/* -------------------------------------- */
.site {
  .kg-embed-card iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
  }
  .kg-width-full img,
  .kg-width-wide img {
  } /* required by gscan */

  /* This keeps small images centered */
  .kg-image,
  .kg-image-card img {
      margin: auto;
  }
  .kg-product-card a.kg-product-card-btn-accent ,
  .kg-subscription-banner-card-button.kg-style-accent,
  .kg-button-card a.kg-btn-accent ,
  .kg-callout-card-accent {
    border: 2px solid var(--border-color);
    font-size: 1.3rem;
    padding: .5rem 1rem ;
    font-weight: 500 ;
  }

  a.kg-product-card-button ,
  a.kg-product-card-button > span{
      color: var(--secondary-text-color); 
  }

  @media (min-width: 1100px) {
    .kg-layout-split .kg-header-card-content {
        grid-template-columns: 1fr;
    }
    .kg-layout-split .kg-header-card-text {
      padding: min(1.2vmax, 26px) min(4vmax, 80px);
    }
    .kg-header-card-content .kg-header-card-image {
      height:100%;
    }
}
}