/*------------------------------------- */
/* styles used accross the site         */
/* 1. default styles for the site       */
/* 2. default site padding              */
/* 3. photoswipe lightbox adjustments   */
/* 4. site header/annoucmenent bar      */
/* 5. navigation menu                   */
/* 6. site footer                       */
/* 7. Ghost cards                       */
/*------------------------------------- */

/* -------------------------------*/
/* 1. default styles for the site */
/* -------------------------------*/

/*
 * font sizes are expressed as rems (the pixel size are calculated relative to browser root font size, which can be set by the user)
 * by default 1rem = 16px.  
 * this statement simplifies the sums:
 * 0.625 * 16px = 10 (i.e. 1rem = 10px)
 */
html {
    font-size: 62.5%;
}
body {
    font-family: var(--font-sans);
    font-size: var(--content-font-size);
    letter-spacing: -0.018em;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
    margin:0;
    padding:0;
    scroll-margin-top: var(--site-top-gap);
    width:100vw;
}
h1, h2, h3 {
  font-family: var(--secondary-font-sans);
  font-weight: bold;
}
img {
    height: auto;
}
iframe {
  width: 100%;
  height: auto;
}

/* hyperlinks in asides default to no text decoration/color - see hero.css, article.css etc for hyperlink styles elsewhere */
a {
    color: var(--text-color);
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
}

/***************************/
/* 2. default site padding */
/***************************/

/* default padding */
.site > * {
  padding-left: var(--edge-padding);
  padding-right: var(--edge-padding);
}

/* full width elements */
.site {
  .hero-header,
  .newsletter-banner {
    margin-left: 0;
    margin-right: 0;
  }
}
/* ---------------------------------- */
/* 2. photoswipe lightbox adjustments */
/* ---------------------------------- */

/* all images can be opened by photoswipe - show pointer */
.kg-image, .kg-gallery-image {
  cursor: pointer;
}
.pswp__counter {
    height: 20px;
    line-height: 20px;
}
.pswp__button--arrow .pswp__icn ,
.pswp__button--close .pswp__icn {
    width: 20px;
    height: 20px;
}
.pswp__button--arrow > svg {
    color: var(--text-color);
    fill: var(--background-color);
    stroke: var(--text-color);
    stroke-width: 1px;
}

/* -------------------------------------- */
/* 4. site header/annoucmenent bar        */
/* -------------------------------------- */
.site-header {
  border-bottom: 0.25px solid var(--border-color);
  background-color: var(--background-color);
  justify-content: center;
  position: absolute;
  width: 100%;
  top: var(--announcement-bar-height); /* zero when there is no announcement bar */
  z-index: 1000; /* show above page content */
  display: flex;
  height:var(--site-header-height); 
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: 700;
  align-items: center;
}
#announcement-bar-root {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  .gh-announcement-bar {
    height: var(--announcement-bar-height);
  }
}

.fixed-navigation-bar .site-header{
  position: fixed;
}
.nav {
  flex-grow:1;
}
.signin, .signup, .account {
  font-size: 1.1rem;
  letter-spacing: -0.018rem;
  font-weight: 800;
  display: flex;
  place-content: center;
  place-items: center;
}
.signin {
  font-weight: 400;
  width: 44px;
}
.signup {
  width: 57px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
}
.light-mode ,
.dark-mode 
{
  height: 20px;
  width: 20px;
}

/* keep the icons following the nav bar on the rhs */
.site-header > *:nth-child(3) { 
  margin-left: auto;
}

/* dark/light mode icons */
.dark-mode,
.light-mode {
    display: none;
}
[data-color-scheme=dark] .light-mode, [data-color-scheme=light] .dark-mode { 
    display: block;
}

/* ensure that the header buttons, menus etc do not stretch to the edges of large screens */
@media (min-width: 1300px) {
  .site .gh-announcement-bar > *,
  .site-header {
    padding-left: var(--large-screen-edge-padding);
    padding-right: var(--large-screen-edge-padding);
  }
}
/* -------------------------------------- */
/* 5. navigation menu                     */
/* -------------------------------------- */
/* default display for mobile devices (hamburger nav) */
.nav {
  display: grid;
  grid-template-areas:
    "NavHeader" 
    "NavItems";
}
.submenu {
  display: grid;
  grid-template-areas:
    "SubmenuHeader" 
    "SubmenuItems";
}
.nav-header { grid-area: NavHeader }
.nav-items { grid-area: NavItems; }
.submenu-header { grid-area: SubmenuHeader }
.submenu-items { grid-area: SubmenuItems; }

.nav, .submenu {
  position:fixed;
  right:var(--edge-padding);
  top: calc(var(--site-top-gap) + 5px);
  background-color: var(--banner-background-color);
  border-radius: 10px;
  width:350px;
  border: 0.25px solid var(--border-color);
  overflow:hidden; /* prevent borders overunning rounded corners */
}
.nav-header ,
.submenu-header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1/-1;
  grid-row: 1; 
}
.nav-title,
.submenu-title {
  color: var(--banner-title-color);
  font-weight:800;
}
.nav-items, .submenu-items {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  list-style: none;
  padding:0;
  font-weight: 200;
}
.item,
.submenu-item, 
.nav-header,
.submenu-header {
  padding: 5px 10px;
  border: 0.25px solid var(--border-color);
}

/* hide until clicked */
.submenu,
.nav {
  display: none;
}
.active-nav {
  display: grid;
}
.active-submenu {
  display:grid;
}
.nav:has(.active-submenu) {
  .item:not(:has(.active-submenu)) {
    display: none ;
  }
}

/* animate nav opening */
@keyframes showMenu {
  from {opacity: 0;}
  to {opacity: 1;}
}
/* causes an issue on iphone 
.active-nav .item ,
.active-submenu .submenu-item {
  animation: showMenu 450ms ease-in-out both;
}
*/

/* hide nav items until dropdown-nav.js confirms it has run (to prevent the screen flashing) */
.nav:not(.nav-ready){
  opacity:0;
}
.nav.nav-ready {
  opacity:1;
}
/* larger screens - show nav in menu bar (assuming expanded nav option has been selected) */
@media (min-width: 760px) {
  .expanded-nav {
    .item {
      white-space: nowrap;
    }
    .nav {
      overflow: visible; /* if not set this prevents the submenu showing */
    }
    .nav {
      position:static;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 1.4rem;
      margin: 0 20px;
    }
    .nav-header,
    .nav-toggle {
      display: none;
    }
    .nav-items {
      display: flex;
      flex-grow: 1;
      flex-wrap:wrap;
      column-gap: 25px;
      justify-content: center; 

      .item {
        position: relative;
        display: flex!important ; /* always show the nav-items in this view */
        border: unset;
        margin: 0;
        padding: 0;
      }
      .submenu:not(.active-submenu) {
        display:none;
      }
      .nav-header {
        display:none;
      }
      
      .submenu {
        transform: translateX(50%);
        position:absolute;
        top: calc(var(--site-top-gap) - 6px);
        overflow: hidden;
      }
      .item:has(sup) {
        line-height: 12px; /* fix misalignment caused by drop down nav symbol */
      }
    }
    /* animate hover */
    .item::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 0.5px;
      background-color: var(--theme-accent-color);
      width:0;
      transform: scaleX(0); /* Initially hidden */
      transition: transform 0.2s ease; 
    }
    .item:hover::after {
      width:100%;
      transform: scaleX(1); 
    }
  }
}

/* -------------------------------------- */
/* 6. site footer (privacy and copyright) */
/* -------------------------------------- */

/* make room for social and toc icons */
.post-template, .page-template {
  .site-footer {
      margin-bottom: 35px; 
  }
}
.site-footer {
    line-height: 2.1rem;
    font-weight: 600;
    font-size:1.2rem;
    color: var(--secondary-text-color);
    margin-top: var(--section-gap);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 0.25px solid var(--border-color);
}
.site-footer a {
  color: var(--secondary-text-color);
}
.site-footer a:hover {
    text-decoration: underline;
    text-decoration-color: var(--link-color);
    color: var(--link-color);
    opacity: 0.8;
}
.site-footer {
  display:flex;
  justify-content: space-around;
  width:100%;
  border-bottom: 0.25px solid var(--border-color);
}

/* only show the link to the transmission github on larger screens */
.footer-links {
  display:none;
  white-space: pre;
}
@media (min-width:480px) {
  .footer-links {
    display: inline-flex;
    .theme-link {
      display: none;
    }
  }
}
@media (min-width:760px) {
  .footer-links .theme-link {
    display: inline-flex;
  }
}

/* large screens: pad footer contents do not stetch beyond max-container-size */
@media (min-width:1300px) {
  .post-template,
  .page-template {
    &:has(.sidebar-layout) {
      .site-footer {
        margin-bottom: 0;
      }
    }
    .site-footer {
      padding-right: var(--large-screen-edge-padding);
      padding-left: var(--large-screen-edge-padding);
    }
  }
}

/* -------------------------------------- */
/* 7. Ghost cards and CTAs                */
/* -------------------------------------- */
.site {
  .kg-embed-card iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
  }

  /* This keeps small images centered */
  .kg-image,
  .kg-image-card img {
      margin: auto;
  }
  .kg-product-card a.kg-product-card-btn-accent ,
  .kg-button-card a.kg-btn-accent ,
  .kg-callout-card-accent {
    border: 2px solid var(--border-color);
    font-size: 1.3rem;
    padding: .5rem 1rem ;
    font-weight: 500 ;
  }
  a.kg-product-card-button ,
  a.kg-product-card-button > span{
      color: var(--secondary-text-color); 
  }

  @media (min-width: 1100px) {
    .kg-layout-split .kg-header-card-content {
        grid-template-columns: 1fr;
    }
    .kg-layout-split .kg-header-card-text {
      padding: min(1.2vmax, 26px) min(4vmax, 80px);
    }
    .kg-header-card-content .kg-header-card-image {
      height:100%;
    }
  }
}
.site:has(.gh-post-upgrade-cta) {
  .table-of-contents {
    display: none!important;;
  }
}