
/* ------------------------------------------------------------------- */
/* social links are show at the bottom of the screen for small screens */
/* for larger screens they are shown on the right hand side        */
/* ------------------------------------------------------------------- */

.social-links {
    position: sticky;
    bottom: 0;
    z-index: 4;
    background-color: var(--background-color);
    display:flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
    padding:5px;
}
.social-links svg {
    height: 35px;
    padding: 7px;
    width: 35px;
    fill: var(--title-color);
    box-shadow: 0 0.7px 0.5px var(--accent-color), 0 0 0 transparent;
    border-radius: 50%;
    background-color: var(--background-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:760px) {
    .social-links {
        bottom: unset;
        box-shadow: unset;
        height:0;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        position: sticky;
        top: 57px;
    }
    .social-links svg {
        height: 50px;
        padding: 15px;
        width: 50px;
    }
}
