/* --------------------------------------------------------- */
/* show the subscription banner on the home and page screens */
/* --------------------------------------------------------- */

.subscription-banner-description { grid-area: SubscriptionBannerDescription;}
.subscription-banner-header { grid-area: SubscriptionBannerHeader;}
.subscription-banner-form { grid-area: SubscriptionBannerForm;}

.subscription-banner {
    background-color: var(--banner-background-color);
    border: 1px solid var(--border-color);
    border-radius:5px;
    margin-top: var(--section-gap);
    display: grid;
    grid-template-areas: 
        "SubscriptionBannerHeading"
        "SubscriptionBannerDescription"
        "SubscriptionBannerForm";
    grid-template-rows: 75px 75px 85px;
    grid-template-columns: auto;
    justify-items: center;
    align-items:center;

    &.mini { /* simplified banner */
        grid-template-areas: 
            "SubscriptionBannerForm";
        grid-template-rows: 1fr ;
        width: 100vw;
        height: 90px;
    }
}

.subscription-banner-heading {
    align-self: self-end;
}
.subscription-banner-form {
    align-self: self-start;
}
.mini .subscription-banner-form {
    align-self: center;
}
.subscription-banner-heading, 
.subscription-banner-description, 
.subscription-banner-form .error-text {
    color: var(--banner-title-color);
}

.form-input { grid-area: FormInput; }
.button { grid-area: Button; }
.error-text { grid-area: ErrorText; }

.subscription-banner-form {
    font-size:1.4rem;
    display: grid;
    grid-template-columns: 2fr auto; 
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas:
        "FormInput Button"
        "ErrorText ErrorText";
    column-gap:5px;
    font-size:1.3rem;
    height: 35px;
    todojustify-content: center;
    todojustify-self: center;

    .button {
       width: 70px;
       padding:0;
    }
    .error-text {
        padding-top: 10px;
        height: 38px;
    }
    .form-input {
        padding: 3px ;
        font-size: 1.3rem;
        background-color: #e6e6e6;
        border: 0;
        letter-spacing: inherit;
        outline: none;
        border-radius: 5px;
        width: 200px;
        justify-self:end;
    }
}

/* show the status of a subscription request */
.subscription-banner-form {
    .success-icon, .error-icon, .error-text, .loading-icon {
        display: none;
    }
}
.subscription-banner-form:is(.success, .error, .loading) .text {
    display:none;
}
.subscription-banner-form.success .success-icon ,
.subscription-banner-form.loading .loading-icon ,
.subscription-banner-form.error .error-icon ,
.subscription-banner-form.error .error-text {
    display:block;
    pointer-events: none;
}
/* larger screens */
@media (min-width: 1300px) { 
    /* when using full banner, the banner is shown on rhs of home page for larger screen - make sticky */
    .home-template .subscription-banner:not(.mini) {
        margin-left: 5px;
        gap:20px;
        justify-content: center;
        width: 300px;
        height: 275px;
        position: sticky;
        top: 110px;
    }
}