/* --------------------------------------------------------- */
/* show the subscription banner on the home and page screens */
/* --------------------------------------------------------- */

.subscription-banner-description { grid-area: SubscriptionBannerDescription;}
.subscription-banner-header { grid-area: SubscriptionBannerHeader;}
.subscription-banner-form { grid-area: SubscriptionBannerForm;}

.subscription-banner {
    background-color: var(--banner-background-color);
    border: 1px solid var(--border-color);
    border-radius:5px;
    /* 0px bottom padding is to make room for an empty row used to show error messages*/
    padding: 40px var(--edge-padding) 0 var(--edge-padding);
    margin-top: var(--section-gap);
    display: grid;
    align-self: center; /* Aligns the item along the block axis (vertical) */
    justify-self: center;
    place-items: center;
    text-align: center;
    grid-template-areas: 
        "SubscriptionBannerHeading"
        "SubscriptionBannerDescription"
        "SubscriptionBannerForm";
    grid-template-rows: 1fr 1fr 2fr;

    &.mini { /* simplified banner */
        grid-template-areas: 
            "SubscriptionBannerForm";
        grid-template-rows: 1fr ;
        width: 100vw;
    }
}
.subscription-banner-heading, 
.subscription-banner-description, 
.subscription-banner-form .error-text {
    color: var(--banner-title-color);
}

.form-input { grid-area: FormInput; }
.button { grid-area: Button; }
.error-text { grid-area: ErrorText; }

.subscription-banner-form {
    display: grid;
    grid-template-columns: 2fr auto; 
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas:
        "FormInput Button"
        "ErrorText ErrorText";
    column-gap:5px;
    font-size:1.4rem;

    .button {
       width: 75px;
       padding:0;
    }
    .form-input {
        padding: 5px ;
        font-size: 1.3rem;
        background-color: #e6e6e6;
        width:300px;
        border: 0;
        letter-spacing: inherit;
        outline: none;
        border-radius: 5px;
    }
}

/* show the status of a subscription request */
.subscription-banner-form {
    .success-icon, .error-icon, .error-text, .loading-icon {
        display: none;
    }
}
.subscription-banner-form:is(.success, .error, .loading) .text {
    display:none;
}
.subscription-banner-form.success .success-icon ,
.subscription-banner-form.loading .loading-icon ,
.subscription-banner-form.error .error-icon ,
.subscription-banner-form.error .error-text {
    display:block;
    pointer-events: none;
}
/* larger screens */
@media (min-width: 1100px) { 
    /* when using full banner, the banner is shown on rhs of home page for larger screen - make sticky */
    .home-template .subscription-banner:not(.mini) {
        padding: var(--edge-padding);
        align-self:flex-start;
        width: 200px;
        justify-content: center;
        position: sticky;
        top: 110px;
        row-gap: 20px;
    }
}