/* --------------------------------------------------------- */
/* show the subscription banner on the home and page screens */
/* --------------------------------------------------------- */
.subscription-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    height: 210px;
    background-color: var(--banner-background-color);
    margin: var(--section-gap) 0 var(--section-gap) 0;
    border: 1px solid var(--border-color);
    border-radius:5px;
    margin:30px 30px 0 30px!important;
}

.mini {
    height:135px;
}

.subscription-banner-heading, 
.subscription-banner-description, 
.subscription-banner-form .error-text {
    color: var(--banner-title-color);
}

.subscription-banner-form {
    .form-input { grid-area: FormInput; }
    .button { grid-area: Button; }
    .error-text { grid-area: ErrorText; }

    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "FormInput Button"
        "ErrorText ErrorText";

    column-gap:5px;
    padding: 2px ;
    height: 90px;
    max-width: 500px;

    .button {
       width: 95px;
       height:40px;
       padding: 0;
       display:flex;
       align-items: center;
       justify-items: center;
    }
    .text {
        font-size: 1.6rem;
    }
    .form-input {
        width:220px;
        font-size: 1.3rem;
        background-color: #e6e6e6;
        border: 0;
        letter-spacing: inherit;
        outline: none;
        border-radius: 5px;
    }
    .form-input::placeholder {
        padding-left: 5px; 
    }

    .error-text {
        padding-top: 4px;
        font-size:1.4rem;
    }
    .success-icon, .loading-icon, .error-icon {
        width: 24px;
        height: 24px;
    }
    
}

/* show the status of a subscription request */
.subscription-banner-form {
    .success-icon, .error-icon, .error-text, .loading-icon {
        display: none;
    }
}
.subscription-banner-form:is(.success, .error, .loading) .text {
    display:none;
}
.subscription-banner-form.success .success-icon ,
.subscription-banner-form.loading .loading-icon ,
.subscription-banner-form.error .error-icon ,
.subscription-banner-form.error .error-text {
    display:block;
    pointer-events: none;
}

/* large screens - show banner on rhs of home screen */
@media(min-width: 1100px) {
    .home-template .subscription-banner:not(.mini) { /*mini banners are shown as a bar below the pagination section */
        justify-content: center;
        height: 400px;
        position: sticky;
        top:0;
    }
}