/* ------------------------------- */
/* table of contents               */
/* ------------------------------- */

/* hide the toc toggle button if there is no toc */
.table-of-contents:has(.toc:empty){
    display:none!important;
}

/* positon table of contents icon bottom left for mobile views */
@media (max-width: 768px) {
    .table-of-contents { grid-area: unset};
}
.table-of-contents {
    bottom: 5px;
    left: 30px;
    position: fixed;
    margin-inline: 0;
}

/* block out the bottom part of the screen when the mini-toc is showing */
@media (max-width: 768px) {

    body:is(.post-toc-full,.post-toc-minified)::after {
        content: '';
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 35px;
        background-color: var(--background-color);
    }
}
.toc-container {
    bottom: 40px;
    left: var(--site-edge-padding);
    position: fixed;
}
.toc-toggle svg ,
.toc-toggle:before {
    display:flex;
    position: fixed;
    left: calc(var(--site-edge-padding)+3px);
    bottom: 22px;
    transform: translateX(-50%) translateY(50%);
}

.toc-toggle svg {
    border-radius: 50%;
    background-color: var(--background-color);
    height: 35px;
    width: 35px;
    padding:3px;
}

/* the menu toggle has a 'halo' showing reading progress */
.toc-toggle:before {
    background-image: conic-gradient(var(--conic-gradient)); /* set by table-of-contents.js */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    content: "";
    opacity: .5;
}

.toc-container {
    border: 0.25px solid var(--border-color);
    border-radius: 10px;
    height:auto;
    font-size: 1.4rem;
    h1.toc-title {
        margin:0;
        padding:5px 10px;
        font-weight: 700;
        font-size: 1.4rem;
        border-bottom: 1px solid var(--border-color); 
    }
    .toc {
        padding:10px;
    }
}

/* override tocbot color defaults */
.toc-link:before {
    background-color: var(--background-color);
}
.toc .is-active-link::before {
    background-color: var(--reading-progress-color);
}
.toc .toc-list-item {
    padding-bottom: 3px;
}

.site:not(.site-style-bold) .toc .is-active-li  {
    font-weight: 700;
    letter-spacing: -0.009em;
}

/* TOC toggle settingsa */
.toc-close-icon {
    display: none;
}
.toc-open-icon {
    display: block;
}
.toc-open .toc-close-icon {
    display: block;
}
.toc-container {
    display: none;
}

/* animate opening of TOC */
@keyframes todshowToc {
    from {
        opacity: 0; 
        scale: 0;
    }
    to {
        opacity: 1; 
        scale: 1;
    }
}
.toc-open {
    .toc-container {
        display: flex;
        flex-direction: column;
        background-color: var(--banner-background-color);
        width: max-content;
    }
    /* toggle open/close icon */
    .toc-toggle .toc-close-icon {
        display: flex;
    }
    .toc-toggle .toc-open-icon {
        display: none;
    }
}

@media (min-width: 768px) {
    .table-of-contents {
        bottom: 25px;
        left: 40px;
        .toc-toggle svg {
            height: 60px;
            width: 60px;
        }
        .toc-toggle:before {
            height: 67px;
            width: 67px;
        }
    }
    .post-toc-full .table-of-contents {
        inset: auto;
        position: relative;
        display: flex;
        flex-direction: column; /* ensures the container scrolls vertically, needed by position sticky below */
        .toc-toggle {
            display: none;
        }
        .toc-container {
            animation: none;
            border: var(--site-default-border);
            font-weight: var(--site-default-font-weight);
        }
        .toc-container {
            position: sticky;
            inset: auto;
            margin-right: 10vw;
            margin-left: 20px;
            top: calc(var(--site-header-height) + 15px);
            left: 0;
            display:flex;
            flex-direction: column;
            background-color: var(--banner-background-color);
        }
    }
}