/* ------------------------------- */
/* table of contents               */
/* ------------------------------- */

/* hide the toc toggle button if there is no toc */
.table-of-contents:has(.toc:empty){
    display:none!important;
}

/* positon table of contents icon bottom left for mobile views */
@media (max-width: 760px) {
    .table-of-contents { grid-area: unset};
}
.table-of-contents {
    width: 100%;
    bottom: 7px;
    left:25px;
    position: fixed;
    z-index: 999;
}

/* block out the bottom part of the screen when the mini-toc is showing */
@media (max-width: 760px) {
    .table-of-contents::before {
        display: block;
        content: '';
        background-color: var(--background-color);
        height: 29px;
        bottom: -33px;
        left: -24px;
        position: relative;
        z-index: 999;
    }
}
.toc-container {
    z-index: 5;
    bottom: 40px;
    left: var(--site-edge-padding);
    position: fixed;
}
.toc-toggle svg ,
.toc-toggle:before {
    display:flex;
    position: fixed;
    left: calc(var(--site-edge-padding)+3px);
    bottom: 22px;
    transform: translateX(-50%) translateY(50%);
    z-index: 1000;
}

.toc-toggle svg {
    border-radius: 50%;
    background-color: var(--background-color);
    height: 35px;
    width: 35px;
    padding:3px;
}

/* the menu toggle has a 'halo' showing reading progress */
.toc-toggle:before {
    background-image: conic-gradient(var(--conic-gradient)); /* set by table-of-contents.js */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    content: "";
    opacity: .5;
}

.toc-container {
    border: 0.25px solid var(--border-color);
    border-radius: 10px;
    height:auto;
    font-weight: 200;
    font-size: 1.4rem;
    h1.toc-title {
        margin:0;
        padding:5px 10px;
        font-weight: bold;
        font-size: 1.4rem;
        border-bottom: 1px solid var(--border-color); 
    }
    .toc {
        padding:10px;
    }
}

/* override tocbot color defaults */
.toc .is-active-link {
    font-weight: normal;
    letter-spacing: -0.55px;
}
.toc-link:before {
    background-color: var(--background-color);
}
.toc .is-active-link::before {
    background-color: var(--reading-progress-color);
}
.toc .toc-list-item {
    padding-bottom: 3px;
}

/* TOC toggle settingsa */
.toc-close-icon {
    display: none;
}
.toc-open-icon {
    display: block;
}
.toc-open .toc-close-icon {
    display: block;
}
.toc-container {
    display: none;
}

/* animate opening of TOC */
@keyframes showToc {
    from {
        opacity: 0; 
        scale: 0;
    }
    to {
        opacity: 1; 
        scale: 1;
    }
}
.toc-open {
    .toc-container {
        display: flex;
        flex-direction: column;
        animation: showToc 300ms ease-in-out both;
        background-color: var(--banner-background-color);
    }
    /* toggle open/close icon */
    .toc-toggle .toc-close-icon {
        display: flex;
    }
    .toc-toggle .toc-open-icon {
        display: none;
    }
}

@media (min-width: 760px) {
    .table-of-contents {
        bottom: 25px;
        left: 40px;
        .toc-toggle svg {
            height: 60px;
            width: 60px;
        }
        .toc-toggle:before {
            height: 67px;
            width: 67px;
        }
    }

    .post-toc-full .table-of-contents {
        inset: auto;
        position: relative;
        display: flex;
        flex-direction: column; /* ensures the container scrolls vertically, needed by position sticky below */
        height: unset;
        .toc-toggle {
            display: none;
        }
        .toc-container {
            animation: none;
        }
        .toc-container {
            width: max-content;
            position: sticky;
            top: var(--site-header-height);
            display:flex;
            flex-direction: column;
            background-color: var(--banner-background-color);
            margin-left: 10px;
        }
    }
}