/* ------------------------------- */
/* table of contents               */
/* ------------------------------- */

/* default view is for mobile view */
/* table of contents icon shown on bottom left */

/* hide the toc toggle button if there is no toc */
.table-of-contents:has(.toc:empty) {
    display:none;
}

/* animate open toc & button */
@keyframes showToc {
    from {
        opacity: 0; 
        scale: 0;
    }
    to {
        opacity: 1; 
        scale: 1;
    }
}
.table-of-contents {
    z-index: 5;
    position: relative;
}
#toc-toggle { 
    position: fixed;
    bottom: 0;
    left:10px;
    animation: showToc 300ms ease-in-out both;
}
#toc-toggle span {
    display: flex;
}
.toc-container {
    border: 0.25px solid var(--border-color);
    border-radius: 10px;
    height:auto;
    font-weight:200;
    font-size: 1.4rem;
    .toc-header {
        margin:0;
        padding:5px 10px;
        font-weight:800;
        border-bottom: 1px solid var(--border-color); 
    }
    .toc {
        padding:10px;
    }
}
.toc-container,
#toc-toggle .toc-close-icon {
    display: none;
}
#toc-toggle svg {
    height: 35px;
    padding: 3px;
    width: 35px;
}

/* override tocbot color defaults */
.toc .is-active-link {
    font-weight:400;
    letter-spacing: -0.55px;
}
.toc-link:before {
    background-color: var(--background-color);
}
.toc .is-active-link::before {
    background-color: var(--reading-progress-color);
}

/* reading progress */
#toc-toggle svg {
    fill: currentcolor;
    background-color: var(--background-color);
    border-radius: 50%;
    transform: translateX(-37.5px) ;
}
#toc-toggle:before {
    background-image: conic-gradient(var(--conic-gradient)); /* set by table-of-contents.js */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    content: "";
    opacity: 0.5;
}

.toc-open {
    .toc-container {
        display: flex;
        flex-direction: column;
        animation: showToc 300ms ease-in-out both;
        background-color: var(--banner-background-color);
        position: fixed;
        left:50px;
        bottom: 50px;
    }
    /* toggle open/close icon */
    #toc-toggle .toc-close-icon {
        display: flex;
    }
    #toc-toggle .toc-open-icon {
        display: none;
    }
}
/* On larger screens, TOC will stay in the same spot on the left hand side of the page 
(the sidebar property is set by a user selected custom option  */
@media (min-width:1300px) {
        .table-of-contents {
            display: flex;
            flex-direction: column;
            position: relative;
        }
        #toc-toggle {
            display:none;
        }
    .toc-container {
        display: flex;
        margin-left: var(--large-screen-edge-padding);
        position: sticky;
        top: 67px;
        flex-direction: column;
        animation: showToc 300ms ease-in-out both;
        background-color: var(--banner-background-color);
    }
    /* toggle open/close icon */
    #toc-toggle .toc-close-icon {
        display: flex;
    }
    #toc-toggle .toc-open-icon {
        display: none;
    }
}
