/* --------- */
/* tags page */
/* --------- */

.tags-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    justify-content: center; 
    padding: var(--edge-padding);
    .tag-card-link {
        flex: 0 1 30%;
        min-width: 350px;
        display: grid;
        grid-template-areas: 
        "TagCardLink";
        align-items: center;
        justify-items: center;
        border: 1px solid var(--ghost-accent-color);
        border-radius: 15px;
        margin: 10px;
    }
    .tag-card-link:hover {
        text-decoration: none;
        translate: 0 -10px;
        box-shadow: var(--box-shadow-hover);
        transition: opacity 1s cubic-bezier(.19,1,.22,1), translate 0.3s;
    }

    .tag-card-count {
        display:none;
    }
    .tag-card-name,
    .tag-card-image {
        grid-area: TagCardLink;
    }
    .tag-card-name {
        color: white;
        font-weight: var(--nav-font-weight);
        font-size: 3.4rem;
        text-align: center;
    }

    .tag-card-image {
        border-radius: 15px;
        width: 100%;
        object-fit: cover;
        opacity: .7;
        aspect-ratio: 1/1;
        z-index:0;
    }
    
}
