/* ---------------------------------- */
/* global variables used in the theme */
/* ---------------------------------- */

/* 
 nominal screen sizes:
 mobile: < 480px
 tablet: 480 - 760px
 laptop: 760 - 1100px
 large screens: > 1300px
*/

:root {
    --font-sans: 'Inter', 'Inter-fallback', 'Trebuchet MS', sans-serif;
    --font-mono: 'Menlo', 'Courier New', monospace;
    --content-font-size: 1.6rem;
    --content-sup-font-size: 1.2rem;
    --content-fig-font-size: 1.4rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.0rem;
    --h3-font-size: 1.8rem;
    --site-header-height: 55px; 
    --announcement-bar-height: 55px; 
    --site-top-gap: var(--site-header-height); /* this value is updated in site.css when there is an announcement bar */
    --site-header-gap: 0px; /* this value is updated in site.css when there is an announcement bar */
    --hero-header-height: 160px ;
    --section-gap: max(1.5vw,24px);
    --max-content-width: 720px;
    --max-container-width: 1300px; 
    --edge-padding: max(5vmin, 20px); 
    --large-screen-edge-padding: calc((100vw-var(--max-container-width))/2); /* used for screens greater than 1300px */
    --article-card-gap: 15px; 
}

/* font sizes on larger screens */
@media (min-width: 480px) {
    :root {
        --content-font-size: 1.8rem;
        --content-sup-font-size: 1.3rem;
        --content-fig-font-size: 1.5rem;
        --h1-font-size: 3.2rem;
        --h2-font-size: 2.5rem;
        --h3-font-size: 2.0rem;
    }
}

/* light mode */
html[data-color-scheme='light'] {
    --banner-background-color: #fafafa;
    --banner-title-color: #15171a;
    --banner-description-color: #56585b;
    --background-color: #fff;
    --secondary-background-color: #e6e2e2;
    --reading-progress-color:#3ead43; 
    --code-color: #3ead43;
    --link-color: #0969da;
    --title-color: #444;
    --secondary-title-color: #1a1a1a;
    --text-color: #333;
    --secondary-text-color: #5a5a5a;
    --border-color: #d1d2db;
    --theme-accent-color: var(--theme-accent-color-light);
    --box-shadow: 0px 6px 12px -3px #01040966, 0px 6px 18px 0px #d3d9e466;
}
/* dark mode */
html[data-color-scheme='dark'] {
    --banner-title-color: #fff;
    --banner-description-color: #ccc;
    --banner-background-color: #161b22;
    --background-color: #181818;
    --secondary-background-color: #212022;
    --reading-progress-color:#3ead43; 
    --code-color: #f08d49;
    --link-color: #4493f8;
    --title-color:  #f0f6fc;
    --secondary-title-color: #ccc;
    --text-color:#b0b2b4;
    --secondary-text-color:  #8b949e;
    --border-color: #323030;
    --theme-accent-color: var(--theme-accent-color-dark);
    --box-shadow: 0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966;
}