/* ---------------------------------- */
/* global variables used in the theme */
/* ---------------------------------- */

/* 
 nominal screen sizes:
 mobile: < 480px
 tablet: 480 - 760px
 laptop: 760 - 1100px
 large screens: > 1300px
*/

:root {
    --font-sans: 'Inter', 'Inter-fallback', 'Trebuchet MS', sans-serif;
    --secondary-font-sans: 'Poppins', 'Inter-fallback', 'Trebuchet MS', sans-serif;
    --font-mono: 'Menlo', 'Courier New', monospace;
    --content-font-size: 1.7rem;
    --content-sup-font-size: 1.2rem;
    --content-fig-font-size: 1.4rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.0rem;
    --h3-font-size: 1.8rem;
    --main-nav-height: 55px; 
    --announcement-bar-height:55px;
    --site-header-height: var(--main-nav-height);
    --section-gap: max(1.7vw,30px);
    --max-content-width: 720px;
    --max-container-width: 1300px; 
    --edge-padding: max(3vmin, 20px); 
    --site-edge-padding: max(5vmin, 20px); 
    --sidebar-width: 230px;

}
/* 
* it is necessary to specify the announcement bar height when the navigation bar is pinned to the top of the screen
* this is so that the sticky elements below have the correct "top:" position
*/
.fixed-navigation-bar:has(#announcement-bar-root:not(:empty)) {
    .gh-announcment-bar {
        height: var(--announcement-bar-height); 
    }
    --site-header-height: calc(var(--main-nav-height) + var(--announcement-bar-height));
}

/* font sizes on larger screens */
@media (min-width: 480px) {
    :root {
        --content-font-size: 1.8rem;
        --content-sup-font-size: 1.3rem;
        --content-fig-font-size: 1.5rem;
        --h1-font-size: 3.2rem;
        --h2-font-size: 2.5rem;
        --h3-font-size: 2.0rem;
    }
}

@media (min-width: 1300px) {
    :root {
        --site-edge-padding: calc((100vw-var(--max-container-width))/2); /* used for screens greater than 1300px */
    }
}

/* light mode */
html[data-color-scheme='light'] {
    --banner-background-color: #fafafa;
    --banner-title-color: #15171a;
    --banner-description-color: #56585b;
    --background-color: #fff;
    --secondary-background-color: #e6e2e2;
    --menu-background-color: #f6f6f6;
    --reading-progress-color:var(--ghost-accent-color);
    --code-color: #3ead43;
    --link-color: #0969da;
    --title-color: #444;
    --secondary-title-color: #1a1a1a;
    --icon-color: #1a1a1a;
    --text-color: #333;
    --secondary-text-color: #5a5a5a;
    --border-color: #d1d2db;
    --secondary-border-color: black;
    --box-shadow: 0 7px 7px rgba(0,0,0,.08);
    --box-shadow-hover: 0 4px 60px 0 rgba(0,0,0,.2);
    --hero-background-gradient: linear-gradient(
        to bottom,
        transparent, 
        rgba(252, 252, 252, .013) 8.1%, 
        rgba(252, 252, 252, .049) 15.5%, 
        rgba(252, 252, 252, .104) 22.5%, 
        rgba(252, 252, 252, .175) 29%,
        rgba(252, 252, 252, .259) 35.3%, 
        rgba(252, 252, 252, .352) 41.2%, 
        rgba(252, 252, 252, .45) 47.1%, 
        rgba(252, 252, 252, .55) 52.9%, 
        rgba(252, 252, 252, .648) 58.8%, 
        rgba(252, 252, 252, .741) 64.7%, 
        rgba(252, 252, 252, .825) 71%, 
        rgba(252, 252, 252, .896) 77.5%, 
        rgba(252, 252, 252, .951) 84.5%, 
        rgba(252, 252, 252, .987) 91.9%, #fffbfb);
}

/* dark mode */
html[data-color-scheme='dark'] {
    --banner-title-color: #fff;
    --banner-description-color: #ccc;
    --banner-background-color: #161b22;
    --background-color: #181818;
    --secondary-background-color: #464548; 
    --menu-background-color: rgb(32,33,36); 
    --reading-progress-color:var(--ghost-accent-color);
    --code-color: #f08d49;
    --link-color: #4493f8;
    --title-color:  #f0f6fc;
    --secondary-title-color: #ccc;
    --icon-color: rgb(240, 246, 252);
    --text-color: rgb(240, 246, 252);
    --secondary-text-color:  #8b949e;
    --border-color: #323030;
    --secondary-border-color: white;
    --box-shadow: 0px 6px 12px -3px #01040966, 0px 6px 18px 0px #01040966;
    --box-shadow-hover: 0px 3px 60px -3px #01040966, 0px 6px 18px 0px #01040966;
    --hero-background-gradient: linear-gradient(
        to bottom,
        transparent, 
        rgba(0, 0, 0, .013) 8.1%, 
        rgba(0, 0, 0, .049) 15.5%, 
        rgba(0, 0, 0, .104) 22.5%, 
        rgba(0, 0, 0, .175) 29%,
        rgba(0, 0, 0, .259) 35.3%, 
        rgba(0, 0, 0, .352) 41.2%, 
        rgba(0, 0, 0, .45) 47.1%, 
        rgba(0, 0, 0, .55) 52.9%, 
        rgba(0, 0, 0, .648) 58.8%, 
        rgba(0, 0, 0, .741) 64.7%, 
        rgba(0, 0, 0, .825) 71%, 
        rgba(0, 0, 0, .896) 77.5%, 
        rgba(0, 0, 0, .951) 84.5%, 
        rgba(0, 0, 0, .987) 91.9%, #000);
}